<div data-popover-target="@Id"
     data-popover-placement="@Placement.GetValueAttribute()"
     data-popover-trigger="@Trigger.GetValueAttribute()"
     class="flex">
    @PopoverAnchor
</div>

<div data-popover id="@Id"
     class="fixed! z-10 invisible opacity-0 transition-opacity duration-300 border border-solid border-stone-800 bg-black grow overflow-auto p-3 rounded-lg shadow-lg @Class">
    @PopoverContent
</div>

@using Sidekick.Common.Enums
@inherits FlowbiteComponent

@code {

    [Parameter]
    public required RenderFragment PopoverContent { get; set; }

    [Parameter]
    public required RenderFragment PopoverAnchor { get; set; }

    [Parameter]
    public TooltipPlacement Placement { get; set; } = TooltipPlacement.Top;

    [Parameter]
    public TooltipTrigger Trigger { get; set; } = TooltipTrigger.Click;

    [Parameter]
    public string Class { get; set; } = "max-h-[550px] max-w-[350px]";

    protected string Id { get; } = UiUtilities.GenerateId();

}
