@using Sidekick.Common.Platform
@using Sidekick.Common.Ui.Localization
@using Sidekick.Common.Settings
@using Sidekick.Common.Ui.Settings
@using Sidekick.Modules.Items.Localization
@implements IDisposable
@inject IApplicationService ApplicationService

@if (ApplicationService.SupportsKeybinds)
{
    <FormFieldset Legend="@UiResources["Keybindings"]">
        <SettingKeybindEditor SettingKey="@SettingKeys.KeyOpenPriceCheck" Label="@Resources["Key_Open"]" />
    </FormFieldset>
}

<FormFieldset Legend="@Resources["Filter_Settings"]">
    <PriceCheckItemClassFilter />
    <PriceCheckNormalizeValueEditor />
    <SettingCheckboxEditor SettingKey="@SettingKeys.PriceCheckFillDefaultMin" Label="@Resources["PriceCheck_FillDefault_Min"]"/>
    <SettingCheckboxEditor SettingKey="@SettingKeys.PriceCheckFillDefaultMax" Label="@Resources["PriceCheck_FillDefault_Max"]"/>
    <SettingCheckboxEditor SettingKey="@SettingKeys.PriceCheckEnableAllFilters" Label="@Resources["PriceCheck_Enable_All_Filters"]" />
</FormFieldset>

<FormFieldset Legend="@Resources["Auto_Select_Rules"]">
    <SettingTextEditor SettingKey="@SettingKeys.PriceCheckAutoSelectRules"
                       Label="@Resources["Auto_Select_Rules_Label"]"
                       Tooltip="@Resources["Auto_Select_Rules_Hint"]"/>
</FormFieldset>

<FormFieldset Legend="@Resources["External_Tools_Settings"]">
    <SettingCheckboxEditor SettingKey="@SettingKeys.PriceCheckPredictionEnabled" Label="@Resources["PriceCheck_Prediction_Enable"]" />
</FormFieldset>

<div class="flex justify-center mb-1">
    <ButtonPrimary Disabled="!AreSettingsModified" OnClick="RestoreDefaults">@UiResources["Restore_Defaults"]</ButtonPrimary>
</div>

@inject IStringLocalizer<UiResources> UiResources
@inject IStringLocalizer<TradeResources> Resources
@inject ISettingsService SettingsService

@code {

    private bool AreSettingsModified { get; set; }

    private string[] SettingKeysUsed { get; } =
    {
        SettingKeys.KeyOpenPriceCheck,

        SettingKeys.PriceCheckItemClassFilter,
        SettingKeys.PriceCheckNormalizeValue,
        SettingKeys.PriceCheckFillDefaultMin,
        SettingKeys.PriceCheckFillDefaultMax,
        SettingKeys.PriceCheckPredictionEnabled,
        SettingKeys.PriceCheckEnableAllFilters,
        SettingKeys.PriceCheckAutoSelectRules,
    };

    protected override async Task OnInitializedAsync()
    {
        SettingsService.OnSettingsChanged += CheckIfSettingsAreModified;

        CheckIfSettingsAreModified(SettingKeysUsed);

        await base.OnInitializedAsync();
    }

    private async void CheckIfSettingsAreModified(string[] keys)
    {
        if (!keys.Any(key => SettingKeysUsed.Contains(key)))
        {
            return;
        }

        AreSettingsModified = await SettingsService.IsSettingModified(SettingKeysUsed);
        await InvokeAsync(StateHasChanged);
    }

    private async void RestoreDefaults()
    {
        await SettingsService.DeleteSetting(SettingKeysUsed);

        AreSettingsModified = false;

        StateHasChanged();
    }

    public void Dispose()
    {
        SettingsService.OnSettingsChanged -= CheckIfSettingsAreModified;
    }

}
