@page "/settings"
@layout SettingsLayout
@inherits SidekickView

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h3">@Resources.Language_Title</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <UILanguageSelect @bind-Value="ViewModel.Language_UI"></UILanguageSelect>
    </MudCardContent>
</MudCard>

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h5">@Resources.Game_Title</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <GameLanguageSelect @bind-Value="ViewModel.Language_Parser"></GameLanguageSelect>
        <LeagueSelect @bind-Value="ViewModel.LeagueId"></LeagueSelect>
    </MudCardContent>
</MudCard>

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h3">@Resources.Group_Other</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pt-0">
        <div>
            <MudCheckBox Label="@Resources.PoeWikiData_Enable"
                         @bind-Checked="@ViewModel.PoeWikiData_Enable"></MudCheckBox>
        </div>
        <div>
            <MudCheckBox Label="@Resources.General_RetainClipboard"
                         @bind-Checked="@ViewModel.RetainClipboard"></MudCheckBox>
        </div>
        <KeybindEditor Label="@Resources.Key_FindItems"
                       @bind-Value="ViewModel.Key_FindItems" />
    </MudCardContent>
</MudCard>

@code {
    [Inject] private SettingsResources Resources { get; set; }
    [Inject] private SettingsModel ViewModel { get; set; }

    public override string Title => Resources.Title;
}
