@using System.Globalization
@using Sidekick.Apis.Poe.Items
@using Sidekick.Apis.Poe.Languages
@using Sidekick.Apis.Poe.Trade.Trade.Filters.Definitions

@if (!Filter.ShowRow)
{
    return;
}

<FilterWrapper>
    <div class="flex flex-nowrap items-center">
        <div class="grow">
            <FormCheckbox Value="Filter.Checked"
                          ValueChanged="CheckedChanged">
                <ItemPropertyText Label="@Filter.Text"
                                  Hint="@Filter.Hint"
                                  Value="@($"{Filter.ValuePrefix}{Filter.Value.ToString("0.00", CultureInfo.InvariantCulture)}{Filter.ValueSuffix}")"
                                  ContentType="@Filter.Type"
                                  HasAdditionalInformation="Math.Abs(Filter.Value - Filter.OriginalValue) > 0.001 && Filter.OriginalValue > 0">
                    <AdditionalInformation>
                        <ItemPropertyText Label="@($"{GameLanguageProvider.Language.DescriptionQuality} {Item.Properties.Quality}%")"
                                          Value="@($"{Filter.ValuePrefix}{Filter.OriginalValue.ToString("0.00", CultureInfo.InvariantCulture)}{Filter.ValueSuffix}")"/>
                        <ItemPropertyText Label="@($"{GameLanguageProvider.Language.DescriptionQuality} 20%")"
                                          Value="@($"{Filter.ValuePrefix}{Filter.Value.ToString("0.00", CultureInfo.InvariantCulture)}{Filter.ValueSuffix}")"/>
                    </AdditionalInformation>
                </ItemPropertyText>
            </FormCheckbox>
        </div>

        @if (Filter.Checked)
        {
            <FilterRange Checked="Filter.Checked"
                         NormalizeEnabled="Filter.NormalizeEnabled"
                         NormalizeRoundToInteger="false"
                         Value="@Filter.Value"
                         @bind-Min="@Filter.Min"
                         @bind-Max="@Filter.Max"/>
        }
    </div>
</FilterWrapper>

@inject IGameLanguageProvider GameLanguageProvider

@code {

    [CascadingParameter]
    public required Item Item { get; set; }

    [Parameter]
    public required DoublePropertyFilter Filter { get; set; }

    private void CheckedChanged(bool value)
    {
        Filter.Checked = value;
    }

}
