@using Sidekick.Common.Blazor.Settings
@using Sidekick.Common.Platform
@using System.Diagnostics
@inherits LayoutComponentBase

<MenuList>
    <MenuItem Href="/home">@Resources["Home"]</MenuItem>

    <MenuLegend Legend="@Resources["Settings"]" />
    <MenuItem Href="/settings/general">@Resources["General"]</MenuItem>
    <MenuItem Href="/settings/price">@Resources["Price_Check"]</MenuItem>
    <MenuItem Href="/settings/map">@Resources["Map_Check"]</MenuItem>

    @if (ApplicationService.SupportsKeybinds)
    {
        <MenuItem Href="/settings/wiki">@Resources["Wiki"]</MenuItem>
        <MenuItem Href="/settings/chat">@Resources["Chat_Commands"]</MenuItem>
        <MenuItem Href="/settings/regexhotkeys">@Resources["Regex_Hotkeys"]</MenuItem>
    }

    @if (Debugger.IsAttached && false)
    {
        <MenuItem Href="/settings/wealth">@Resources["WealthTracker"]</MenuItem>
    }

    <MenuItem Href="/settings/about">@Resources["About"]</MenuItem>

    @if (Debugger.IsAttached)
    {
        <MenuLegend Legend="@Resources["Development"]" />
        <MenuItem Href="/development">Development</MenuItem>
    }

    <div class="grow"></div>

    <div class="py-4 flex justify-center items-center">
        <AppBuyMeACoffeeButton />
    </div>
</MenuList>

@inject IStringLocalizer<SettingsResources> Resources
@inject IApplicationService ApplicationService
