@using Sidekick.Common.Game.Items
@using Sidekick.Common.Ui.Utilities
@using Sidekick.Modules.Trade.Localization
@using Sidekick.Modules.Trade.Components.Options
@using Sidekick.Common.Settings

@if (PriceCheckService.CurrentMode != TradeMode.Item)
{
    return;
}

@if (PriceCheckService.ItemTradeResult != null)
{
    <div class="flex items-center w-full justify-between dark:bg-stone-900 sticky top-0 z-10 mb-3">
        <div>
            <LeagueText />
            <CountString Count="PriceCheckService.TradeItems.Count"
                         Total="PriceCheckService.ItemTradeResult.Total" />
        </div>
        <div class="flex gap-4">
            <ToggleCompactView OnClick="@ToggleView" IsCompact="@IsCompact" />
            <OpenWebsiteLink QueryId="@PriceCheckService.ItemTradeResult.Id" />
        </div>
    </div>

    foreach (var result in PriceCheckService.TradeItems)
    {
        <ItemComponent @key="result.Id" Result="result" IsCompact="@IsCompact" />
    }

    if (PriceCheckService.ResultError != null)
    {
        <AlertError>@PriceCheckService.ResultError</AlertError>
    }
    else if (!PriceCheckService.IsLoading && !FullyLoaded)
    {
        <div class="flex justify-center">
            @if (AutomaticallyLoadMoreData)
            {
                <IntersectionObserver Callback="LoadMoreData">
                    <ButtonPrimary OnClick="LoadMoreData">@Resources["LoadMoreData"]</ButtonPrimary>
                </IntersectionObserver>
            }
            else
            {
                <ButtonPrimary OnClick="LoadMoreData">@Resources["LoadMoreData"]</ButtonPrimary>
            }
        </div>
    }
}

@if (PriceCheckService.IsLoading)
{
    <AppLoading />
}

@implements IDisposable

@inject IStringLocalizer<TradeResources> Resources
@inject PriceCheckService PriceCheckService
@inject ISettingsService SettingsService

@code {

    [CascadingParameter]
    public required Item Item { get; set; }

    private bool FullyLoaded => PriceCheckService.TradeItems.Count == (PriceCheckService.ItemTradeResult?.Result?.Count ?? 0);

    private bool IsCompact { get; set; }

    private bool AutomaticallyLoadMoreData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsCompact = await SettingsService.GetBool(SettingKeys.PriceCheckCompactMode);
        AutomaticallyLoadMoreData = await SettingsService.GetBool(SettingKeys.PriceCheckAutomaticallyLoadMoreData);

        SettingsService.OnSettingsChanged += OnSettingsChanged;

        PriceCheckService.Changed += StateHasChanged;

        await base.OnInitializedAsync();
    }

    private async void ToggleView()
    {
        IsCompact = !IsCompact;
        await SettingsService.Set(SettingKeys.PriceCheckCompactMode, IsCompact);
    }

    private async void OnSettingsChanged(string[] keys)
    {
        if (keys.Contains(SettingKeys.PriceCheckCompactMode) || keys.Contains(SettingKeys.PriceCheckAutomaticallyLoadMoreData))
        {
            IsCompact = await SettingsService.GetBool(SettingKeys.PriceCheckCompactMode);
            AutomaticallyLoadMoreData = await SettingsService.GetBool(SettingKeys.PriceCheckAutomaticallyLoadMoreData);

            await InvokeAsync(StateHasChanged);
        }
    }

    private async void LoadMoreData()
    {
        await PriceCheckService.LoadMoreItems(Item.Header.Game);
    }

    public void Dispose()
    {
        SettingsService.OnSettingsChanged -= OnSettingsChanged;
        PriceCheckService.Changed -= StateHasChanged;
    }

}
