@using Sidekick.Common.Exceptions
@using Sidekick.Common.Platform

<SidekickErrorBoundary>
    <ChildContent>
        @ChildContent
    </ChildContent>
    <ErrorContent>
        <div class="fixed top-0 left-0 right-0 bottom-0 @BackgroundClass(context.IsCritical) text-xl">
            <div class="flex w-full h-full items-center justify-center text-center p-4 flex-col">
                <div>
                    @if (!string.IsNullOrEmpty(context.Message))
                    {
                        <Heading1>@context.Message</Heading1>

                        @if (context.AdditionalInformation.Any())
                        {
                            <Heading3 Class="mt-4">Additional Information</Heading3>
                            <ul>
                                @foreach (var additionalInformation in context.AdditionalInformation)
                                {
                                    <li>
                                        <TextBase Class="mt-1">@additionalInformation</TextBase>
                                    </li>
                                }
                            </ul>
                        }
                    }
                    else
                    {
                        <span>An error has occurred. This application may no longer respond until reloaded.<br/>If this issue keeps reoccurring, please open a ticket on our github page.</span>
                    }
                </div>

                <div class="hidden mt-1">
                    <div>
                        @context.Exception?.Message
                    </div>
                    <div>
                        @((MarkupString)(context.Exception?.StackTrace?.Replace("\n", "<br/>") ?? ""))
                    </div>
                </div>

                @if (context.Exception is SidekickException
                         {
                             ExitApplication: true
                         })
                {
                    <div class="flex items-center justify-center">
                        <a href="javascript:" class="@ButtonClass(context.IsCritical) px-8 py-4 m-4"
                           @onclick="ApplicationService.Shutdown">Exit Application</a>
                    </div>
                }
                else
                {
                    <div class="flex items-center justify-center">
                        <a href="javascript:" class="@ButtonClass(context.IsCritical) px-8 py-4 m-4" @onclick="CurrentView.Close">Close</a>
                    </div>
                }
            </div>
        </div>
    </ErrorContent>
</SidekickErrorBoundary>

@inject ICurrentView CurrentView
@inject IApplicationService ApplicationService

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string BackgroundClass(bool isCritical) => isCritical ? "bg-red-700 text-white" : "bg-orange-700 text-white";

    private string ButtonClass(bool isCritical) => isCritical ? "bg-white text-red-700" : "bg-white text-orange-700";

}
