@using Sidekick.Apis.Poe.Items
@using Sidekick.Apis.Poe.Trade.Trade.Filters
@using Sidekick.Apis.Poe.Trade.Trade.Items.Results
@using Sidekick.Modules.Items.Components.Prices
@using Sidekick.Modules.Items.Localization
@using ItemHeader = Sidekick.Common.Ui.Poe.Items.ItemHeader

@if (!IsCompact && (Result.Item.HasStats || ItemClassConstants.Gems.Contains(Item.Properties.ItemClass)))
{
    <div class="mb-2 rounded-b-lg bg-stone-950">
        <ItemHeader Name="@Result.Item.Name"
                    Type="@Result.Item.Type"
                    Influences="Result.Item.Influences"
                    Rarity="Result.Item.Rarity"
                    Game="Item.Game"/>

        <div class="flex items-start flex-nowrap">
            <div class="w-3/4 p-2">
                <ItemLineContentsComponent Result="Result" LineContents="Result.Item.Properties"/>
                <ItemLineContentsComponent Result="Result" LineContents="Result.Item.AdditionalProperties"/>

                <ItemProperties Result="Result"/>
                <ItemRequirements Result="Result"/>
                <ItemGrantSkills Result="Result"/>
                <ItemStats Result="Result"/>

                @if (!Result.Item.Identified)
                {
                    <ItemSeparator Rarity="Result.Item.Rarity"/>
                    <ItemStatText
                        Category="StatCategory.Unidentified">@Resources["Unidentified"]</ItemStatText>
                }
                @if (Result.Item.Sanctified && TradeFilterProvider.Sanctified != null)
                {
                    <ItemSeparator Rarity="Result.Item.Rarity"/>
                    <ItemStatText Category="StatCategory.Fractured">@TradeFilterProvider.Sanctified.Text</ItemStatText>
                }
                @if (Result.Item.Mirrored && TradeFilterProvider.Mirrored != null)
                {
                    <ItemSeparator Rarity="Result.Item.Rarity"/>
                    <ItemStatText Category="StatCategory.Explicit">@TradeFilterProvider.Mirrored.Text</ItemStatText>
                }
                @if (Result.Item.Corrupted)
                {
                    <ItemSeparator Rarity="Result.Item.Rarity"/>
                    <ItemStatText Category="StatCategory.Corrupted">@Resources["Corrupted"]</ItemStatText>
                }
                @if (!string.IsNullOrEmpty(Result.Item.Note))
                {
                    <ItemSeparator Rarity="Result.Item.Rarity"/>
                    <TextCaption
                        Class="font-caps text-[#AA9E82] text-center leading-none py-px">@Result.Item.Note</TextCaption>
                }

                <ExtendedAtMax Result="Result"/>
            </div>
            <div class="w-1/4 min-w-[135px] p-2">
                <div class="flex flex-col w-full items-center">
                    <PriceDisplay Value="Result.Listing.Price.Amount" Currency="@Result.Listing.Price.Currency"/>
                    <TextBase
                        Class="text-ellipsis w-full overflow-hidden text-center">@Result.Listing.Account.Name</TextBase>
                    <TextAge Date="Result.Listing.Indexed"/>
                </div>

                <ItemImageComponent Result="Result"/>
            </div>
        </div>
    </div>
}
else
{
    <div class="flex items-start flex-nowrap rounded-b-lg bg-stone-950 mb-2 rounded-tr-lg">
        <div class="w-3/4">
            <ItemHeader Name="@Result.Item.Name"
                        Type="@Result.Item.Type"
                        Influences="Result.Item.Influences"
                        Rarity="Result.Item.Rarity"
                        Game="Item.Game"
                        SingleLine="true"/>

            <div class="flex items-center p-2">
                <TextBase>@Result.Listing.Account.Name</TextBase>
                <div class="text-[#a38d6d]">,&nbsp;</div>
                <TextAge Date="Result.Listing.Indexed"/>
            </div>
        </div>
        <div class="w-1/4 p-2 self-center">
            <PriceDisplay Value="Result.Listing.Price.Amount" Currency="@Result.Listing.Price.Currency"/>
        </div>
    </div>
}

@inject IStringLocalizer<TradeResources> Resources
@inject ITradeFilterProvider TradeFilterProvider

@code {

    [CascadingParameter]
    public required Item Item { get; set; }

    [Parameter]
    public required TradeResult Result { get; set; }

    [Parameter]
    public bool IsCompact { get; set; }

}
