@inherits FormInput

<div class="relative w-full"
     title="@Value">
    <label for="@Id"
           class="@ContainerClasses text-nowrap line-clamp-1">
        @if (!string.IsNullOrEmpty(Value))
        {
            <span class="text-white">@Value</span>
        }
        else
        {
            <span class="text-zinc-300 italic">@(!string.IsNullOrEmpty(Label) ? Label : "no value")</span>
        }
    </label>

    @if (!Readonly)
    {
        <input id="@Id"
               @onchange="OnChange"
               @attributes="InputAttributes"
               @onfocus="Focus"
               @onblur="Blur"
               class="@InputClasses"
               value="@Value"/>
    }
</div>

@code {

    private const string CommonClasses = "px-0.5 pt-[1px] pb-0 leading-[16px] h-5 rounded-t-sm text-base text-white";

    public const string ContainerClasses =
        CommonClasses + " " +
        "border-t border-x border-t-transparent border-x-transparent " +
        "border-b border-b-zinc-600 border-dashed";

    public const string InputClasses =
        CommonClasses + " absolute top-0 left-0 right-0 bottom-0 transition-opacity duration-200 opacity-0 hover:opacity-100 focus:opacity-100 " +
        "bg-zinc-600 " +
        "border border-zinc-500 " + UiClasses.FocusClasses;

    [Parameter]
    public bool Readonly { get; set; }
}
