@if (!string.IsNullOrEmpty(Label))
{
    <label for="@Id"
           class="block mb-1 text-base font-medium dark:text-white">
        @Label
    </label>
}

<select id="@Id"
        @onchange="OnChange"
        class="@UiClasses.FormInputClasses mb-3">
    @foreach (var option in Options)
    {
        if (option.Value == Value)
        {
            <option selected value="@option.Value">@option.Label</option>
        }
        else
        {
            <option value="@option.Value">@option.Label</option>
        }
    }
</select>

@code {

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public EventCallback<string?> ValueChanged { get; set; }

    [Parameter]
    public List<SelectOption> Options { get; set; } =
    [
    ];

    private string Id { get; } = UiUtilities.GenerateId();

    private async Task OnChange(ChangeEventArgs args)
    {
        await ValueChanged.InvokeAsync(args.Value?.ToString());
    }
}
