@inherits FormSelect

<div class="relative inline-block"
     title="@Option?.Label">
    @if (!string.IsNullOrEmpty(Label)) {}
    <label for="@Id"
           class="@FormInputInline.Classes @FormInputInline.ColorClasses @(Readonly ? string.Empty : FormInputInline.TransitionClasses) flex flex-nowrap items-center gap-1 text-nowrap line-clamp-1">
        @if (Option != null)
        {
            <span class="text-white">@Option.Label</span>
        }
        else
        {
            <span class="text-zinc-300 italic">@(!string.IsNullOrEmpty(Label) ? Label : "no value")</span>
        }
        @if (!Readonly)
        {
            <Icon Svg="@UiIcons.ChevronDown" Size="UiIconSize.Small"/>
        }
    </label>

    @if (!Readonly)
    {
        <select id="@Id"
                @onchange="OnChange"
                class="absolute top-0 left-0 right-0 bottom-0 invisible hover:visible focus:visible @UiClasses.FocusClasses @FormInputInline.Classes @FormInputInline.ColorClasses @FormInputInline.TransitionClasses">
            @if (Options.All(x => GetOptionValue(x.Value) != GetOptionValue(Value)))
            {
                <option selected></option>
            }

            @if (Options.Any(x => x.Group != null))
            {
                foreach (var group in Options.GroupBy(x => x.Group))
                {
                    <optgroup label="@group.Key">
                        @foreach (var option in group)
                        {
                            <option selected="@(GetOptionValue(option.Value) == GetOptionValue(Value))"
                                    value="@GetOptionValue(option.Value)"
                                    disabled="@option.Disabled">@option.Label</option>
                        }
                    </optgroup>
                }
            }
            else
            {
                foreach (var option in Options)
                {
                    <option selected="@(GetOptionValue(option.Value) == GetOptionValue(Value))"
                            value="@GetOptionValue(option.Value)" disabled="@option.Disabled">@option.Label</option>
                }
            }
        </select>
    }
</div>

@code{

    [Parameter]
    public bool Readonly { get; set; }

    private SelectOption? Option => GetOption(Value);

}
