@inherits FormSelect

<div class="relative w-full -m-0.5 p-0.5 leading-4 h-5"
     title="@Option?.Label">
    @if (!string.IsNullOrEmpty(Label)) {}
    <label for="@Id"
           class="text-base font-medium text-nowrap line-clamp-1 flex items-center gap-1 flex-nowrap">
        @if (Option != null)
        {
            <span class="text-white">@Option.Label</span>
        }
        else
        {
            <span class="text-zinc-300 italic">@(!string.IsNullOrEmpty(Label) ? Label : "no value")</span>
        }
        @if (!Readonly)
        {
            <Icon Svg="@UiIcons.ChevronDown" Size="UiIconSize.Small"/>
        }
    </label>

    @if (!Readonly)
    {
        <select id="@Id"
                @onchange="OnChange"
                class="absolute top-0 left-0 right-0 bottom-0 @UiClasses.FocusClasses border border-none rounded-sm bg-none bg-transparent hover:bg-zinc-700 focus:bg-zinc-700 hover:border-zinc-600 focus:border-zinc-600 text-transparent hover:text-white focus:text-white leading-4 p-0.5 transition-colors duration-200 text-base appearance-none">
            @if (Options.All(x => GetOptionValue(x.Value) != GetOptionValue(Value)))
            {
                <option selected></option>
            }

            @if (Options.All(x => x.Group != null))
            {
                foreach (var group in Options.GroupBy(x => x.Group))
                {
                    <optgroup label="@group.Key">
                        @foreach (var option in group)
                        {
                            <option selected="@(GetOptionValue(option.Value) == GetOptionValue(Value))"
                                    value="@GetOptionValue(option.Value)"
                                    disabled="@option.Disabled">@option.Label</option>
                        }
                    </optgroup>
                }
            }
            else
            {
                foreach (var option in Options)
                {
                    <option selected="@(GetOptionValue(option.Value) == GetOptionValue(Value))"
                            value="@GetOptionValue(option.Value)" disabled="@option.Disabled">@option.Label</option>
                }
            }
        </select>
    }
</div>

@code{

    [Parameter]
    public bool Readonly { get; set; }

    private SelectOption? Option => GetOption(Value);

}
