@page "/dialog/confirm/{message}"
@using Sidekick.Common.Extensions

<LayoutSimple>
    <TopContent>
        <AppLogo/>
    </TopContent>

    <ChildContent>
        <AppFullContainer>
            <Heading3
                Class="mb-3 text-center">@((MarkupString)(Message.DecodeBase64Url()?.Replace("\\n", "<br />") ?? "Confirmation required"))</Heading3>
        </AppFullContainer>
    </ChildContent>
    <BottomContent>
        <div class="px-3 py-2 flex justify-center gap-2">
            <ButtonSecondary OnClick="No">
                @Resources["Cancel"]
            </ButtonSecondary>
            <ButtonPrimary OnClick="Yes">
                @Resources["Confirm"]
            </ButtonPrimary>
        </div>
    </BottomContent>
</LayoutSimple>

<ViewOptions Width="@ICurrentView.DialogWidth" Height="@ICurrentView.DialogHeight" />

@inject IStringLocalizer<DialogResources> Resources
@inject DialogService Service
@inject ICurrentView CurrentView

@code {

    [Parameter]
    public string? Message { get; set; }

    private void Yes()
    {
        Service.SetConfirmationResult(true);
        CurrentView.Close();
    }

    private void No()
    {
        Service.SetConfirmationResult(false);
        CurrentView.Close();
    }

}
