@using Sidekick.Common.Platform
@using Sidekick.Common.Ui.Localization
@using System.Diagnostics
@inherits LayoutComponentBase

<MenuList>
    <MenuItem Href="/home">@Resources["Home"]</MenuItem>
    <MenuItem Href="/wealth">@Resources["WealthTracker"]</MenuItem>

    <MenuLegend Legend="@Resources["Settings"]" />
    <MenuItem Href="/settings/game">@Resources["Game"]</MenuItem>
    <MenuItem Href="/settings/application">@Resources["Application"]</MenuItem>
    <MenuItem Href="/settings/price">@Resources["Item_Overlay"]</MenuItem>

    @if (ApplicationService.SupportsKeybinds)
    {
        <MenuItem Href="/settings/chat">@Resources["Chat_Commands"]</MenuItem>
        <MenuItem Href="/settings/regexhotkeys">@Resources["Regex_Hotkeys"]</MenuItem>
    }

    <MenuLegend Legend="@Resources["Help"]" />
    <MenuItem Href="/about">@Resources["About"]</MenuItem>
    <MenuItem Href="/logs">@Resources["Logs"]</MenuItem>

    @if (Debugger.IsAttached)
    {
        <MenuLegend Legend="@Resources["Development"]" />
        <MenuItem Href="/development">@Resources["Development"]</MenuItem>
    }

    <div class="grow"></div>

    <div class="py-4 flex justify-center items-center">
        <AppBuyMeACoffeeButton />
    </div>
</MenuList>

@inject IStringLocalizer<UiResources> Resources
@inject IApplicationService ApplicationService
