@page "/initialize"
@inherits SidekickView

<AppScrollArea>
    <TopContent>
        <AppLogo/>
    </TopContent>

    <ChildContent>
        @if (Error)
        {
            <AlertError>@Resources.Error</AlertError>
        }
        else
        {
            <AppContainer>
                <Heading3 Class="mb-2 text-center">@Step</Heading3>
                @if (Count != Completed)
                {
                    <ProgressBar Percent="Percentage"/>
                }
                else
                {
                    <TextBase Class="text-center">@WelcomeMessage</TextBase>
                }
            </AppContainer>
        }

        <div class="flex justify-center mb-3">
            @if (Count != Completed)
            {
                <ButtonPrimary OnClick="Exit">
                    @Resources.Exit
                </ButtonPrimary>
            }
            else
            {
                <ButtonPrimary OnClick="CurrentView.Close">
                    @Resources.Close
                </ButtonPrimary>
            }
        </div>
    </ChildContent>
</AppScrollArea>
