@page "/settings/about"
@layout MainWindowLayout
@inherits Sidekick.Common.Ui.Views.SidekickView
@using Sidekick.Common.Blazor.Components
@using Sidekick.Common.Browser
@using Sidekick.Common.Folder

<AppContainer>
    <FormFieldset Legend="@($"{Resources["Sidekick"]} - {Title}")">
        <div>
            <div class="mb-3"><span class="text-lg underline text-blue-500 cursor-pointer" onclick="@(() => BrowserProvider.OpenSidekickWebsite())">@Resources["Official_Website"]</span></div>
            <div class="mb-3"><span class="text-lg underline text-blue-500 cursor-pointer" onclick="@(() => BrowserProvider.OpenGitHubRepository())">@Resources["GitHub_Repository"]</span></div>

            <LayoutDivider />

            <div class="mb-3"><ButtonPrimary OnClick="@(() => FolderProvider.OpenDataFolderPath())">@Resources["Open_Settings_Folder"]</ButtonPrimary></div>
            <code class="bg-stone-950 px-1 min-w-[8em]">@FolderProvider.GetDataFolderPath()</code>
        </div>
    </FormFieldset>
</AppContainer>

@inject IStringLocalizer<SettingsResources> Resources
@inject IBrowserProvider BrowserProvider
@inject IFolderProvider FolderProvider

@code
{
    private string? Title { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        Title = AppDomain.CurrentDomain.GetAssemblies().Select(x => x.GetName()).FirstOrDefault(x => x.Name == "Sidekick")?.Version?.ToString();
    }
}
