@using Microsoft.Extensions.Localization
@using Sidekick.Common.Ui.Forms
@using Sidekick.Common.Ui.Buttons
@using Sidekick.Common.Ui.Poe.Items
@using Sidekick.Common.Ui.Errors
@using Sidekick.Common.Ui.Tooltips
@using Sidekick.Modules.Trade.Localization
@using Sidekick.Apis.Poe.Trade.Models

<div class="flex flex-col gap-2">
    <FormCheckbox Value="Filter.Enabled ?? false"
                 NoMargin="true"
                 ValueChanged="(v) => Filter.Enabled = v">
        <ItemPropertyText Label="@Resources["Class"]"
                         Value="@Filter.Value?.ToString()"
                         OnlyShowLabel="true" />
    </FormCheckbox>

    @if (Filter.Enabled ?? false)
    {
        <div class="flex flex-col gap-2">
            <ItemPropertyText Label="@Resources["Class"]"
                            Value="@Filter.Value?.ToString()" />
            <TooltipHint>@Resources["Class_Hint"]</TooltipHint>
            <ItemSeparator />
            <SidekickErrorBoundary>
                <ButtonPrimary OnClick="() => Filter.Enabled = false">
                    @Resources["Clear"]
                </ButtonPrimary>
                <ButtonSecondary OnClick="() => Filter.Enabled = null">
                    @Resources["Reset"]
                </ButtonSecondary>
            </SidekickErrorBoundary>
            <ItemSeparator />
        </div>
    }
</div>

@code {
    [Parameter]
    public required PropertyFilter Filter { get; set; }

    [Inject]
    public required IStringLocalizer<TradeResources> Resources { get; set; }
}
