@using Sidekick.Apis.Poe.Items
@using Sidekick.Common.Browser
@using Sidekick.Common.Settings
@using Sidekick.Common.Ui.Localization

@using Sidekick.Common.Ui.Modal
@using Sidekick.Modules.Items.AreaInformation.Localization

<Modal OnShow="OnShow">
    <ActivatorContent>
        <div
            class="bg-stone-950 border border-stone-700 rounded-md px-2 py-1 gap-2 flex justify-between items-center text-neutral-400 duration-200 transition-colors hover:bg-stone-700 cursor-pointer">
            <div>
                <TextCaption>@Resources["Regex"]</TextCaption>
                @if (!string.IsNullOrEmpty(Regex))
                {
                    <TextBase Class="leading-4 line-clamp-1">@Regex</TextBase>
                }
                else
                {
                    <TextBase Class="leading-4 line-clamp-1 italic">@Resources["NoRegex"]</TextBase>
                }
            </div>
            <Icon Svg="@UiIcons.Settings" Class="w-6 h-6 text-white"/>
        </div>
    </ActivatorContent>
    <HeaderContent>
        <Heading3>@Resources["Area_Settings"]</Heading3>
    </HeaderContent>
    <ChildContent>
        <TextBase>@Resources["Settings_Description"]</TextBase>
        @if (Item.Game == GameType.PathOfExile1)
        {
            <ButtonLink OnClick="OpenPoeRe1">poe.re</ButtonLink>
        }
        else
        {
            <ButtonLink OnClick="OpenPoeRe2">poe2.re</ButtonLink>
        }

        <LayoutDivider/>

        <FormInput Label="@Resources["Regex"]"
                   Value="@Regex"
                   ValueChanged="RegexChanged"
                   Tooltip="@UiResources["Regex_Hint"]"
                   maxlength="250"/>

        @if (Regexes.Any())
        {
            <LayoutDivider/>
            @Resources["Use_Regex_Hotkeys"]
            <div class="flex flex-col items-stretch gap-1">
                @foreach (var regex in Regexes)
                {
                    <div
                        class="bg-stone-800 rounded-md px-2 py-1 hover:bg-stone-600 cursor-pointer transition-colors duration-200"
                        @onclick="() => RegexChanged(regex.Regex)"
                        @onclick:preventDefault="true">
                        <TextCaption>@regex.Description</TextCaption>
                        <TextBase>@regex.Regex</TextBase>
                    </div>
                }
            </div>
        }
    </ChildContent>
    <FooterContent>
        <div class="flex justify-end gap-2">
            <ButtonPrimary OnClick="context.Hide">@Resources["Close"]</ButtonPrimary>
        </div>
    </FooterContent>
</Modal>

@inject IStringLocalizer<AreaResources> Resources
@inject IStringLocalizer<UiResources> UiResources
@inject ISettingsService SettingsService
@inject IBrowserProvider BrowserProvider

@code {

    public const string SettingKey = "Area_Regex";

    [CascadingParameter]
    public required Item Item { get; set; }

    private string? Regex { get; set; }

    private List<RegexHotkey> Regexes { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        Regex = await SettingsService.GetString(SettingKey);
        await base.OnInitializedAsync();
    }

    private async Task OnShow()
    {
        var regexes = await SettingsService.GetObject<List<RegexHotkey>>(SettingKeys.RegexHotkeys, () => []);
        Regexes = regexes;
    }

    private void OpenPoeRe1()
    {
        BrowserProvider.OpenUri(new Uri("https://poe.re/#/maps"));
    }

    private void OpenPoeRe2()
    {
        BrowserProvider.OpenUri(new Uri("https://poe2.re/waystone"));
    }

    private async Task RegexChanged(string? regex)
    {
        Regex = regex;
        await SettingsService.Set(SettingKey, regex);
    }

}
