@using Sidekick.Common.Platform
@using Sidekick.Common.Blazor.Settings
@implements IDisposable

<div>
    <FormInput id="@Id"
               OnFocus="Focus"
               OnBlur="Blur"
               Label="@Label"
               Value="@InputValue"
               readonly="true"
               AdditionalClasses="cursor-default caret-transparent"
               tabindex="-1"
               spellcheck="false">
        <AdornmentContent>
            <div class="flex ml-1 gap-1 align-center">
                @if (ShowClearButton)
                {
                    <ButtonIcon OnClick="Clear" title="@Resources["Clear"]">
                        <Icon Svg="@UiIcons.Clear" />
                    </ButtonIcon>
                }

                @AdornmentContent
            </div>
        </AdornmentContent>
    </FormInput>
    @if (IsDuplicated)
    {
        <label class="mt-1 text-base font-medium text-amber-500 flex items-center flex-nowrap gap-2">
            <Icon Svg="@UiIcons.Warning" Size="@UiIconSize.Medium" />
            <span>@string.Format(Resources["Keybind_Already_In_Use"], DuplicatedKey)</span>
        </label>
    }
</div>

@inject IStringLocalizer<SettingsResources> Resources
@inject IKeyboardProvider Keyboard
@inject IJSRuntime JsRuntime

@code {
    private static Guid? CurrentEditorId { get; set; }

    private IJSObjectReference? Module { get; set; }

    private static event Action? CurrentEditorChanged;

    private bool ShowClearButton => !string.IsNullOrWhiteSpace(Value);

    [Parameter]
    public required string Label { get; set; }

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public EventCallback<string?> ValueChanged { get; set; }

    [Parameter]
    public RenderFragment? AdornmentContent { get; set; }

    private Guid Id { get; } = Guid.NewGuid();

    private bool Active => CurrentEditorId == Id;

    private bool IsDuplicated { get; set; } = false;
    private string? DuplicatedKey { get; set; } = null;

    private string? InputValue
    {
        get
        {
            if (Active)
            {
                return Resources["Key_Active"];
            }

            return string.IsNullOrEmpty(Value) ? Resources["Key_Unset"] : Value;
        }
    }

    protected override void OnInitialized()
    {
        Keyboard.OnKeyDown += OnKeyDown;
        CurrentEditorChanged += StateHasChanged;
        base.OnInitialized();
    }

    private async Task RemoveFocusAsync()
    {
        Module = await JsRuntime.InvokeAsync<IJSObjectReference>("import",
            "./_content/Sidekick.Common.Blazor/Settings/Components/KeybindEditorInternal.razor.js");
        await Module.InvokeVoidAsync("removeFocus", Id);
    }

    public void Focus()
    {
        CurrentEditorId = Id;
        CurrentEditorChanged?.Invoke();
    }

    public void Blur()
    {
        CurrentEditorId = null;
        CurrentEditorChanged?.Invoke();
    }

    private void OnKeyDown(string key)
    {
        InvokeAsync(async () =>
        {
            if (!Active)
            {
                return;
            }

            if (key != "Esc")
            {
                if (key == Value)
                {
                    IsDuplicated = false;
                }
                else if (Keyboard.UsedKeybinds.Contains(key))
                {
                    DuplicatedKey = key;
                    IsDuplicated = true;
                }
                else
                {
                    IsDuplicated = false;
                    await ValueChanged.InvokeAsync(key);
                }
            }

            await RemoveFocusAsync();
            CurrentEditorId = null;
            CurrentEditorChanged?.Invoke();
            StateHasChanged();
        });
    }

    public async Task Clear()
    {
        CurrentEditorId = null;
        CurrentEditorChanged?.Invoke();
        await ValueChanged.InvokeAsync("");
    }

    public void Dispose()
    {
        Keyboard.OnKeyDown -= OnKeyDown;
        CurrentEditorChanged -= StateHasChanged;
    }

}
