@using Sidekick.Common.Blazor.Settings
@using Sidekick.Common.Settings

<div class="flex align-center">
    <FormCheckbox Value="@Enabled"
                  ValueChanged="@ValueChanged">
        @Label
    </FormCheckbox>

    <div class="flex ml-1 gap-1 align-center">
        @if (Tooltip is not null)
        {
            <TooltipHint Text="@Tooltip" />
        }

        @if (ShowResetButton)
        {
            <ButtonIcon OnClick="Reset" title="@Resources["Reset"]">
                <Icon Svg="@UiIcons.Reset" />
            </ButtonIcon>
        }
    </div>
</div>

@inject ISettingsService SettingsService
@inject IStringLocalizer<SettingsResources> Resources
@implements IDisposable

@code {

    [Parameter]
    public required string Label { get; set; }

    [Parameter]
    public required string SettingKey { get; set; }

    [Parameter]
    public string? Tooltip { get; set; }

    private bool Enabled { get; set; }

    private bool ShowResetButton { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Enabled = await SettingsService.GetBool(SettingKey);
        ShowResetButton = await SettingsService.IsSettingModified(SettingKey);
        SettingsService.OnSettingsChanged += OnSettingsChanged;

        await base.OnInitializedAsync();
    }

    private async Task ValueChanged(bool value)
    {
        Enabled = value;
        await SettingsService.Set(SettingKey, value);
    }

    private async void OnSettingsChanged(string[] keys)
    {
        if (keys.Contains(SettingKey))
        {
            Enabled = await SettingsService.GetBool(SettingKey);
            ShowResetButton = await SettingsService.IsSettingModified(SettingKey);
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task Reset()
    {
        await SettingsService.DeleteSetting(SettingKey);
    }

    public void Dispose()
    {
        SettingsService.OnSettingsChanged -= OnSettingsChanged;
    }

}
