@page "/settings/chat"
@using Sidekick.Common.Blazor.Components
@using Sidekick.Common.Browser;
@layout MainWindowLayout
@inherits Sidekick.Common.Ui.Views.SidekickView

<AppContainer>
    <FormFieldset Legend="@Resources["Chat_Commands"]">
        <div>
            <ButtonLink OnClick="OpenWikiChatCommands">@WikiChatCommands.ToString()</ButtonLink>

            <div class="my-3">
                <TextBase>@Resources["Chat_Common_Commands"]</TextBase>
            </div>

            <div class="flex gap-3 mb-1">
                <code class="bg-stone-950 px-1 min-w-[8em]">/hideout</code>
                <TextBase>@Resources["Chat_Commands_Hideout"]</TextBase>
            </div>
            <div class="flex gap-3 mb-1">
                <code class="bg-stone-950 px-1 min-w-[8em]">/leave</code>
                <TextBase>@Resources["Chat_Commands_Leave"]</TextBase>
            </div>
            <div class="flex gap-3 mb-1">
                <code class="bg-stone-950 px-1 min-w-[8em]">/exit</code>
                <TextBase>@Resources["Chat_Commands_Exit"]</TextBase>
            </div>
            <div class="flex gap-3 mb-1">
                <code class="bg-stone-950 px-1 min-w-[8em]">/invite @@last</code>
                <TextBase>@Resources["Chat_Commands_Invite"]</TextBase>
            </div>
            <div class="flex gap-3 mb-3">
                <code class="bg-stone-950 px-1 min-w-[8em]">/kick @@last</code>
                <TextBase>@Resources["Chat_Commands_Kick"]</TextBase>
            </div>

            <div class="flex gap-3">
                <code class="bg-stone-950 px-1 min-w-[8em]">@@last</code>
                <TextBase>@Resources["Chat_Wildcard_LastWhisper_CharacterName"]</TextBase>
            </div>
        </div>
    </FormFieldset>

    <ChatCommandEditor />
</AppContainer>

@inject IStringLocalizer<SettingsResources> Resources
@inject IBrowserProvider Browser

@code {
    private Uri WikiChatCommands => new Uri("https://www.poewiki.net/wiki/Chat#Commands");

    private void OpenWikiChatCommands()
    {
        Browser.OpenUri(WikiChatCommands);
    }
}
