@page "/settings/chat"
@using Sidekick.Common.Browser;
@layout SettingsLayout
@inherits Sidekick.Common.Ui.Views.SidekickView

<AppTitle Title="@Resources["Settings"]" />
<AppContainer>
    <Fieldset Legend="@Resources["Chat_Common_Commands"]">
        <ButtonLink OnClick="OpenWikiChatCommands">@WikiChatCommands.ToString()</ButtonLink>

        <div class="flex gap-3 mt-3 mb-1"><code class="bg-stone-950 px-1 min-w-[6em]">/hideout</code>
            <TextBase>@Resources["Chat_Commands_Hideout"]</TextBase>
        </div>
        <div class="flex gap-3 mb-1"><code class="bg-stone-950 px-1 min-w-[6em]">/leave</code>
            <TextBase>@Resources["Chat_Commands_Leave"]</TextBase>
        </div>
        <div class="flex gap-3 mb-1"><code class="bg-stone-950 px-1 min-w-[6em]">/exit</code>
            <TextBase>@Resources["Chat_Commands_Exit"]</TextBase>
        </div>
        <div class="flex gap-3 mb-1"><code class="bg-stone-950 px-1 min-w-[6em]">/invite</code></div>
        <div class="flex gap-3 mb-3"><code class="bg-stone-950 px-1 min-w-[6em]">/kick</code></div>

        <div class="flex gap-3"><code class="bg-stone-950 px-1 min-w-[6em]">@@last</code>
            <TextBase>@Resources["Chat_Wildcard_LastWhisper_CharacterName"]</TextBase>
        </div>
    </Fieldset>

    <ChatCommandEditor />
</AppContainer>

@inject IStringLocalizer<SettingsResources> Resources
@inject IBrowserProvider Browser

@code {
    private Uri WikiChatCommands => new Uri("https://www.poewiki.net/wiki/Chat#Commands");

    private void OpenWikiChatCommands()
    {
        Browser.OpenUri(WikiChatCommands);
    }
}
