@if (Loading || Item == null)
{
    <MudSkeleton Height="55px" />
    <ItemSeparator Rarity="Item.Metadata.Rarity" />
}
else if (Price != null)
{
    <MudGrid Spacing="0" Justify="Justify.Center" Class="align-center py-3">
        <MudItem xs="6" Class="pr-2">
            <MudText Typo="Typo.subtitle1" Align="Align.Right">@Resources.PoeNinja</MudText>
            <MudText Typo="Typo.caption" Align="Align.Right" Class="d-block">@Resources.LastUpdated:<br />@Price.LastUpdated.ToString("g")</MudText>
            <MudText Align="Align.Right" Class="mt-1">
                <MudButton Variant="Variant.Text"
                       OnClick="OpenWebsite"
                       Class="pa-0"
                       Size="Size.Small"
                       StartIcon="@Icons.Material.Filled.OpenInBrowser">
                    @Resources.OpenInWebsite
                </MudButton>
            </MudText>
        </MudItem>
        <MudItem xs="6" Class="pl-2">
            <div class="d-flex flex-row">
                @if (Price.Links >= 5)
                {
                    <MudText Typo="Typo.caption" Color="Color.Tertiary" Class="d-flex mr-4 align-self-center">@Price.Links @Resources.Links</MudText>
                }
                <PriceDisplay Value="Price.Price" Class="justify-start mr-4" />
            </div>

            @if (Series != null)
            {
                <div>
                    <MudChart ChartType="ChartType.Line" ChartOptions="@ChartOptions" ChartSeries="@Series" />
                </div>
            }
        </MudItem>
    </MudGrid>

    <ItemSeparator Rarity="Item.Metadata.Rarity" />
}

@code {
    [Inject] private PoeNinjaResources Resources { get; set; }
    [Inject] private IPoeNinjaClient Client { get; set; }
    [Inject] private IBrowserProvider BrowserProvider { get; set; }

    [Parameter] public Item Item { get; set; }
    [Parameter] public string ItemName { get; set; }

    private bool Loading { get; set; }
    private NinjaPrice Price { get; set; }
    private bool IsInit { get; set; }
    private ChartOptions ChartOptions { get; set; }
    private List<ChartSeries> Series { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (IsInit) return;

        Loading = true;

        if (Item != null)
        {
            IsInit = true;
            var englishItem = OriginalItem.Parse(ItemName);
            Price = await Client.GetPriceInfo(
                englishItem.Name,
                englishItem.Type,
                Item.Metadata.Category,
                gemLevel: Item.Properties.GemLevel,
                mapTier: Item.Properties.MapTier,
                isRelic: Item.Properties.IsRelic,
                numberOfLinks: Item.GetMaximumNumberOfLinks());

            ChartOptions = new ChartOptions()
                {
                    DisableLegend = true,
                    XAxisLines = false,
                    YAxisLines = false,
                    ChartPalette = new string[] { "#ffffff" },
                };

            if (Price?.SparkLine?.Data?.All(x => x.HasValue) == true)
            {
                // Normalize values above 0 since the chart doesn't show negative values in the viewbox.
                var sparkLineData = Price.SparkLine.Data.Select(x => x.Value).ToArray();
                var min = Math.Abs(sparkLineData.Min());
                var chartData = sparkLineData.Select(x => x + min).ToArray();

                Series = new() { new ChartSeries() { Data = chartData } };
            }
        }

        Loading = false;
    }

    private void OpenWebsite()
    {
        var uri = Client.GetDetailsUri(Price);
        BrowserProvider.OpenUri(uri);
    }
}
