@using Sidekick.Apis.Poe

@if (Small)
{
    <div class="flex flex-nowrap gap-1 items-center justify-end">
        <Heading3>@Value.ToString("0.##")</Heading3>
        @if (ImageUrl != null)
        {
            <TextCaption Class="text-[#a38d6d]">&times;</TextCaption>
            <img src="@ImageUrl" class="max-h-5" alt="@Currency" />
        }
    </div>
}
else
{
    <div class="flex flex-nowrap gap-1 items-center justify-end">
        <Heading2>@Value.ToString("0.##")</Heading2>
        @if (ImageUrl != null)
        {
            <TextBase Class="text-[#a38d6d]">&times;</TextBase>
            <img src="@ImageUrl" class="max-h-10" alt="@Currency" />
        }
    </div>
}

@inject IItemStaticDataProvider ItemStaticDataProvider

@code {

    [Parameter]
    public string Currency { get; set; } = "chaos";

    [Parameter]
    public decimal Value { get; set; }

    [Parameter]
    public bool Small { get; set; }

    private string? ImageUrl => ItemStaticDataProvider.GetImage(Currency);
}
