@using Sidekick.Apis.Poe.Trade.Static

<div class="flex flex-nowrap gap-1 items-center">
    <Heading2>@Min.ToString("0.#")</Heading2>
    <TextCaption Class="mx-1 text-[#a38d6d]">-</TextCaption>
    <Heading2>@Max.ToString("0.#")</Heading2>

    @if (ImageUrl != null)
    {
        <TextBase Class="text-[#a38d6d]">&times;</TextBase>
        <Tooltip Placement="TooltipPlacement.Left" Text="@CurrencyText">
            <img src="@ImageUrl" class="max-h-10" alt="@Currency"/>
        </Tooltip>
    }
</div>

@inject IApiStaticDataProvider ApiStaticDataProvider

@code {

    [Parameter]
    public string Currency { get; set; } = "chaos";

    [Parameter]
    public double Min { get; set; }

    [Parameter]
    public double Max { get; set; }

    private string? ImageUrl => ApiStaticDataProvider.GetById(Currency)?.Image;

    private string? CurrencyText => ApiStaticDataProvider.GetById(Currency)?.Text;

}
