@using Sidekick.Apis.Poe.Trade.Static
@if (Small)
{
    <div class="flex flex-nowrap gap-1 items-center justify-end">
        <Heading3>@Value.ToString("0.##")</Heading3>
        @if (ImageUrl != null)
        {
            <TextCaption Class="text-[#a38d6d]">&times;</TextCaption>

            <Tooltip Text="@CurrencyText">
                <ChildContent>
                    <img src="@ImageUrl" class="max-h-5" alt="@Currency" />
                </ChildContent>
            </Tooltip>
        }
    </div>
}
else
{
    <div class="flex flex-nowrap gap-1 items-center justify-end">
        <Heading2>@Value.ToString("0.##")</Heading2>
        @if (ImageUrl != null)
        {
            <TextBase Class="text-[#a38d6d]">&times;</TextBase>
            <Tooltip Text="@CurrencyText">
                <ChildContent>
                    <img src="@ImageUrl" class="max-h-10" alt="@Currency" />
                </ChildContent>
            </Tooltip>
        }
    </div>
}

@inject IApiStaticDataProvider ApiStaticDataProvider

@code {

    [Parameter]
    public string Currency { get; set; } = "chaos";

    [Parameter]
    public decimal Value { get; set; }

    [Parameter]
    public bool Small { get; set; }

    private string? ImageUrl => ApiStaticDataProvider.GetById(Currency)?.Image;

    private string? CurrencyText => ApiStaticDataProvider.GetById(Currency)?.Text;

}
