@using Sidekick.Apis.Poe.Trade.Static
@using Sidekick.Apis.Poe

<div class="flex flex-nowrap gap-1 items-center">
    <Heading2>@Min.ToString("0.#")</Heading2>
    <TextCaption Class="mx-1 text-[#a38d6d]">-</TextCaption>
    <Heading2>@Max.ToString("0.#")</Heading2>

    @if (ImageUrl != null)
    {
        <TextBase Class="text-[#a38d6d]">&times;</TextBase>
        <TooltipLeft>
            <ChildContent>
                <img src="@ImageUrl" class="max-h-10" alt="@Currency"/>
            </ChildContent>
            <TooltipContent>@CurrencyText</TooltipContent>
        </TooltipLeft>
    }
</div>

@inject IItemStaticDataProvider ItemStaticDataProvider

@code {

    [Parameter]
    public string Currency { get; set; } = "chaos";

    [Parameter]
    public double Min { get; set; }

    [Parameter]
    public double Max { get; set; }

    private string? ImageUrl => ItemStaticDataProvider.GetImage(Currency);

    private string? CurrencyText => ItemStaticDataProvider.Get(Currency)?.Text;

}
