@using System.Text.Json
@using Sidekick.Apis.Poe
@using Sidekick.Common.Cache
@using Sidekick.Common.Extensions
@using Sidekick.Common.Platform
@using Sidekick.Common.Settings
@using Sidekick.Common.Blazor.Settings.General
@using Sidekick.Common.Exceptions

<AppTitle Title="@Resources["Setup"]"/>
<LayoutSimple>
    <TopContent>
        <AppLogo/>
    </TopContent>

    <ChildContent>
        @if (RequiresSetup)
        {
            if (NewLeagues)
            {
                <AlertInfo>@Resources["New_League_Alert"]</AlertInfo>
            }

            @if (HasError)
            {
                <AlertError>@Resources["Valid_Language_Alert"]</AlertError>
            }

            <AppContainer>
                <LanguageParserEditor/>
                <LeagueIdEditor AutoRefresh="false"/>
            </AppContainer>
        }
        else
        {
            <AppContainer>
                <Heading3 Class="mb-2 text-center">@Resources["Loading"]</Heading3>
                <ProgressBar Indeterminate="true"/>
            </AppContainer>
        }
    </ChildContent>
    <BottomContent>
        @if (RequiresSetup)
        {
            <div class="px-3 py-2 flex justify-center gap-2">
                <ButtonSecondary OnClick="Exit">
                    @Resources["Exit"]
                </ButtonSecondary>
                <ButtonPrimary OnClick="() => Save()">
                    @Resources["Save"]
                </ButtonPrimary>
            </div>
        }
        else
        {
            <div class="px-3 py-2 flex justify-center gap-2">
                <ButtonPrimary OnClick="Exit">
                    @Resources["Exit"]
                </ButtonPrimary>
            </div>
        }
    </BottomContent>
</LayoutSimple>

@inject ISettingsService SettingsService
@inject IApplicationService ApplicationService
@inject ILeagueProvider LeagueProvider
@inject ICacheProvider CacheProvider
@inject IStringLocalizer<Setup> Resources
@inject NavigationManager NavigationManager
@inject ICurrentView CurrentView

@code {

    private bool RequiresSetup { get; set; }

    private bool NewLeagues { get; set; }

    private bool HasError { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var leagues = await LeagueProvider.GetList(false);
            var apiLeaguesHash = JsonSerializer.Serialize(leagues).GetDeterministicHashCode();
            var settingsLeaguesHash = await SettingsService.GetInt(SettingKeys.LeaguesHash);
            if (apiLeaguesHash != settingsLeaguesHash)
            {
                NewLeagues = true;
                await CacheProvider.Clear();
            }

            // Check to see if we should run Setup first before running the rest of the initialization process
            var leagueId = await SettingsService.GetString(SettingKeys.LeagueId);
            if (string.IsNullOrEmpty(leagueId) || leagues.All(x => x.Id != leagueId) || NewLeagues)
            {
                CurrentView.SetHeight(360);
                RequiresSetup = true;
            }
            else
            {
                NavigationManager.NavigateTo("/initialize");
            }
        }
        catch (SidekickException e)
        {
            CurrentView.SetHeight(360);
            e.ExitApplication = true;
            throw;
        }
        catch (Exception e)
        {
            CurrentView.SetHeight(360);
            throw new SidekickException(e.Message)
            {
                ExitApplication = true,
            };
        }

        await base.OnInitializedAsync();
    }

    public void Exit()
    {
        ApplicationService.Shutdown();
    }

    public async Task Save()
    {
        var leagueId = await SettingsService.GetString(SettingKeys.LeagueId);
        var leagues = await LeagueProvider.GetList(true);
        if (leagues.All(x => x.Id != leagueId))
        {
            HasError = true;
            return;
        }

        var apiLeaguesHash = JsonSerializer.Serialize(leagues).GetDeterministicHashCode();
        await SettingsService.Set(SettingKeys.LeaguesHash, apiLeaguesHash);

        NavigationManager.NavigateTo("/initialize");
    }

}
