@using Sidekick.Apis.Poe.Items
@using Sidekick.Common.Browser

<Popover Placement="TooltipPlacement.TopRight">
    <PopoverAnchor>
        <ButtonIcon>
            <Icon Svg="@UiIcons.EllipsisVertical"/>
        </ButtonIcon>
    </PopoverAnchor>
    <PopoverContent>
        <div class="flex flex-col">
            <ButtonLink Class="justify-start! p-3 gap-2" OnClick="OpenWiki">
                <Icon
                    Svg="@UiIcons.External"/> @(Item.Game == GameType.PathOfExile ? "poewiki.net" : "poe2wiki.net")
            </ButtonLink>
            <ButtonLink Class="justify-start! p-3 gap-2" OnClick="OpenPoeDb">
                <Icon Svg="@UiIcons.External"/> @(Item.Game == GameType.PathOfExile ? "poedb.tw" : "poe2db.tw")
            </ButtonLink>
            @* <ButtonLink Class="justify-start! p-3 gap-2" OnClick="OpenCraftOfExile"><Icon Svg="@UiIcons.External" /> craftofexile.com</ButtonLink> *@
        </div>
    </PopoverContent>
</Popover>

@inject IBrowserProvider BrowserProvider

@code {

    [Parameter]
    public required Item Item { get; set; }

    public void OpenWiki()
    {
        var poeWikiBaseUri = "https://www.poewiki.net/";
        var poe2WikiBaseUri = "https://www.poe2wiki.net/";
        var poeWikiSubUrl = "w/index.php?search=";
        var searchLink = Item.ApiInformation.Name ?? Item.ApiInformation.Type;
        var baseUrl = Item.Game == GameType.PathOfExile ? poeWikiBaseUri : poe2WikiBaseUri;
        var wikiLink = poeWikiSubUrl + searchLink?.Replace(" ", "+");
        var uri = new Uri(baseUrl + wikiLink);

        BrowserProvider.OpenUri(uri);
    }

    public void OpenPoeDb()
    {
        var poeDbBaseUri = "https://poedb.tw/";
        var poe2DbBaseUri = "https://poe2db.tw/";
        var poeDbSubUrl = "search?q=";
        var searchLink = Item.ApiInformation.Name ?? Item.ApiInformation.Type;
        var baseUrl = Item.Game == GameType.PathOfExile ? poeDbBaseUri : poe2DbBaseUri;
        var wikiLink = poeDbSubUrl + searchLink?.Replace(" ", "+");
        var uri = new Uri(baseUrl + wikiLink);

        BrowserProvider.OpenUri(uri);
    }

    public void OpenCraftOfExile()
    {
        // var game = Item.Header.Game;

        // var gameParam = game == GameType.PathOfExile ? "poe1" : "poe2";
        // var encodedItemText = Uri.EscapeDataString(Item.Text);

        // var uriBuilder = new UriBuilder("https://craftofexile.com/")
        //     {
        //         Query = $"game={gameParam}&eimport={encodedItemText}"
        //     };

        // browserProvider.OpenUri(uriBuilder.Uri);
    }

}
