@using Microsoft.Extensions.Localization
@using Sidekick.Common.Platform
@using Sidekick.Common.Settings
@using Sidekick.Common.Ui.Buttons
@using Sidekick.Common.Ui.Forms
@using Sidekick.Common.Ui.App
@using Sidekick.Common.Ui.Layouts
@using Sidekick.Common.Ui.Localization
@using Sidekick.Modules.General.Localization
@using Sidekick.Common.Ui.Settings

<LayoutMenu>
    <AppContainer>
        <FormFieldset Legend="@SettingsResources["General_Settings"]">
            <InterfaceLanguageEditor/>
            <ZoomEditor/>
            @if (ApplicationService.SupportsKeybinds)
            {
                <SettingCheckboxEditor SettingKey="@SettingKeys.RetainClipboard"
                                       Label="@Resources["General_RetainClipboard"]"/>
            }
            <SettingCheckboxEditor SettingKey="@SettingKeys.SilentStart" Label="@SettingsResources["SilentStart"]" />
            <SettingCheckboxEditor SettingKey="@SettingKeys.OpenHomeOnLaunch" Label="@SettingsResources["OpenHomeOnLaunch"]" Tooltip="@SettingsResources["OpenHomeOnLaunch_Hint"]" />
            @if (ApplicationService.SupportsKeybinds) {}
        </FormFieldset>

        @if (ApplicationService.SupportsKeybinds)
        {
            <FormFieldset Legend="@SettingsResources["Overlay_Settings"]">
                <SettingKeybindEditor SettingKey="@SettingKeys.KeyClose" Label="@Resources["Key_Close"]" />
                <SettingCheckboxEditor SettingKey="@SettingKeys.SaveWindowPositions"
                                       Label="@Resources["SaveWindowPositions"]"/>
                <SettingCheckboxEditor SettingKey="@SettingKeys.OverlayCloseWithMouse"
                                       Label="@Resources["OverlayCloseWithMouse"]"/>
                <SettingCheckboxEditor SettingKey="@SettingKeys.EscapeClosesOverlays"
                                       Label="@Resources["EscapeClosesOverlays"]"/>
            </FormFieldset>
        }

        @if (ApplicationService.SupportsHardwareAcceleration)
        {
            <FormFieldset Legend="@SettingsResources["Other"]">
                <SettingCheckboxEditor SettingKey="@SettingKeys.UseHardwareAcceleration"
                                       Label="@SettingsResources["UseHardwareAcceleration"]"
                                       Tooltip="@SettingsResources["RestartRequired"]"/>
            </FormFieldset>
        }

        <div class="flex justify-center mb-1">
            <ButtonPrimary Disabled="!AreSettingsModified"
                           OnClick="RestoreDefaults">@UiResources["Restore_Defaults"]</ButtonPrimary>
        </div>
    </AppContainer>
</LayoutMenu>

@page "/settings/application"
@implements IDisposable
@inject IStringLocalizer<SettingsResources> SettingsResources
@inject IStringLocalizer<UiResources> UiResources
@inject IStringLocalizer<GeneralResources> Resources
@inject IApplicationService ApplicationService
@inject ISettingsService SettingsService

@code {

    private bool AreSettingsModified { get; set; }

    private string[] SettingKeysUsed { get; } =
    [
        SettingKeys.RetainClipboard,
        SettingKeys.SilentStart,
        SettingKeys.OpenHomeOnLaunch,
        SettingKeys.SaveWindowPositions,
        SettingKeys.Zoom,
        SettingKeys.KeyClose,
        SettingKeys.OverlayCloseWithMouse,
        SettingKeys.EscapeClosesOverlays,
        SettingKeys.UseHardwareAcceleration,
    ];

    protected override async Task OnInitializedAsync()
    {
        SettingsService.OnSettingsChanged += CheckIfSettingsAreModified;
        CheckIfSettingsAreModified(SettingKeysUsed);

        await base.OnInitializedAsync();
    }

    private async void CheckIfSettingsAreModified(string[] keys)
    {
        if (!keys.Any(key => SettingKeysUsed.Contains(key))) return;

        AreSettingsModified = await SettingsService.IsSettingModified(SettingKeysUsed);
        await InvokeAsync(StateHasChanged);
    }

    private async void RestoreDefaults()
    {
        await SettingsService.DeleteSetting(SettingKeysUsed);
        AreSettingsModified = false;
        StateHasChanged();
    }

    public void Dispose()
    {
        SettingsService.OnSettingsChanged -= CheckIfSettingsAreModified;
    }

}
