@using System.Globalization
@using Sidekick.Common.Settings
@using Sidekick.Modules.Items.Trade.Localization

@if (!Checked)
{
    return;
}

<Popover Trigger="PopoverTrigger.Hover">
    <ActivatorContent>
        <div
            class="flex flex-nowrap items-center [&_.range_[contenteditable]]:leading-[14px] [&_.range~.range_[contenteditable]]:rounded-l-none! [&_.range_[contenteditable]]:rounded-r-none! [&_.range:last-child_[contenteditable]]:rounded-r-md!"
            id="@Id">
            <div @onwheel="OnMinWheel"
                 @oncontextmenu="Clear"
                 class="range">
                <FormContentEditable Placeholder="@Resources["Filters_Min"]"
                                     DoubleValue="Min"
                                     DoubleValueChanged="UpdateMinValue"/>
            </div>
            <div @onwheel="OnMaxWheel"
                 @oncontextmenu="Clear"
                 class="range">
                <FormContentEditable Placeholder="@Resources["Filters_Max"]"
                                     DoubleValue="Max"
                                     DoubleValueChanged="UpdateMaxValue"/>
            </div>
        </div>
    </ActivatorContent>
    <ChildContent>
        <div class="flex flex-nowrap gap-1">
            <ButtonIcon OnClick="SetMin"
                        Svg="@UiIcons.FilterGreaterThan"/>
            <ButtonIcon OnClick="SetMax"
                        Svg="@UiIcons.FilterLessThan"/>
            <ButtonIcon OnClick="SetEquals"
                        Svg="@UiIcons.FilterEquals"/>
            <ButtonIcon OnClick="SetRange"
                        Svg="@UiIcons.FilterRange"/>
        </div>
    </ChildContent>
</Popover>

@inject IStringLocalizer<TradeResources> Resources
@inject IJSRuntime JsRuntime
@inject ISettingsService SettingsService

@code {

    [Parameter]
    public bool Checked { get; set; }

    [Parameter]
    public bool NormalizeEnabled { get; set; }

    [Parameter]
    public bool NormalizeRoundToInteger { get; set; }

    [Parameter]
    public double? Value { get; set; }

    [Parameter]
    public double? Min { get; set; }

    [Parameter]
    public EventCallback<double?> MinChanged { get; set; }

    [Parameter]
    public double? Max { get; set; }

    [Parameter]
    public EventCallback<double?> MaxChanged { get; set; }

    private bool LastValueChecked { get; set; }

    private double NormalizeMultiplier { get; set; }

    private string Id { get; } = UiUtilities.GenerateId();

    protected override async Task OnParametersSetAsync()
    {
        if (Checked != LastValueChecked)
        {
            LastValueChecked = Checked;
            NormalizeMultiplier = await SettingsService.GetDouble(SettingKeys.PriceCheckNormalizeValue);

            var fillMin = await SettingsService.GetBool(SettingKeys.PriceCheckFillDefaultMin);
            if (fillMin)
            {
                await NormalizeMinValue();
            }

            var fillMax = await SettingsService.GetBool(SettingKeys.PriceCheckFillDefaultMax);
            if (fillMax)
            {
                await NormalizeMaxValue();
            }
        }

        await base.OnParametersSetAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Prevent the wheel event from scrolling.
            var js = $@"
                document.getElementById('{Id}')?.addEventListener('wheel', function(e) {{
                    e.preventDefault();
                }}, {{ passive: false }});
            ";
            await JsRuntime.InvokeVoidAsync("eval", js);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task UpdateMinValue(double? value)
    {
        await MinChanged.InvokeAsync(value);
    }

    private async Task UpdateMaxValue(double? value)
    {
        await MaxChanged.InvokeAsync(value);
    }

    private async Task OnMinWheel(WheelEventArgs args)
    {
        var value = Min ?? 0;
        if (args.DeltaY < 0)
        {
            value += 1;
        }
        else
        {
            value -= 1;
        }

        await UpdateMinValue(value);
    }

    private async Task OnMaxWheel(WheelEventArgs args)
    {
        var value = Max ?? 0;
        if (args.DeltaY < 0)
        {
            value += 1;
        }
        else
        {
            value -= 1;
        }

        await UpdateMaxValue(value);
    }

    private async Task NormalizeMinValue()
    {
        if (!NormalizeEnabled || !Value.HasValue || !double.TryParse(Value.Value.ToString(CultureInfo.InvariantCulture), out var value) || value == 0)
        {
            await UpdateMinValue(Value);
            return;
        }

        double roundedValue;
        if (value > 0)
        {
            var normalizedValue = (1 - NormalizeMultiplier) * value;
            roundedValue = Math.Round(normalizedValue, 2);
        }
        else
        {
            var normalizedValue = (1 + NormalizeMultiplier) * value;
            roundedValue = Math.Round(normalizedValue, 2);
        }

        if (NormalizeRoundToInteger) roundedValue = (int)roundedValue;
        await UpdateMinValue(roundedValue);
    }

    private async Task NormalizeMaxValue()
    {
        if (!NormalizeEnabled || !Value.HasValue || !double.TryParse(Value.Value.ToString(CultureInfo.InvariantCulture), out var value) || value == 0)
        {
            await UpdateMaxValue(Value);
            return;
        }

        double roundedValue;
        if (value > 0)
        {
            var normalizedValue = (1 + NormalizeMultiplier) * value;
            roundedValue = Math.Round(normalizedValue, 2);
        }
        else
        {
            var normalizedValue = (1 - NormalizeMultiplier) * value;
            roundedValue = Math.Round(normalizedValue, 2);
        }

        if (NormalizeRoundToInteger) roundedValue = (int)roundedValue;
        await UpdateMaxValue(roundedValue);
    }

    private async Task Clear()
    {
        await MinChanged.InvokeAsync(null);
        await MaxChanged.InvokeAsync(null);
    }

    private async Task SetMin()
    {
        await NormalizeMinValue();
        await UpdateMaxValue(null);
    }

    private async Task SetMax()
    {
        await NormalizeMaxValue();
        await UpdateMinValue(null);
    }

    private async Task SetEquals()
    {
        await UpdateMinValue(Value);
        await UpdateMaxValue(Value);
    }

    private async Task SetRange()
    {
        await NormalizeMinValue();
        await NormalizeMaxValue();
    }
}
