@using Sidekick.Apis.Poe.Trade.Trade.Filters.AutoSelect
@using Sidekick.Apis.Poe.Trade.Trade.Filters.Types
@using Sidekick.Common.Settings
@using Sidekick.Modules.Items.Trade.Localization

@if (!Filter.Checked)
{
    return;
}

<Popover Trigger="PopoverTrigger.Hover">
    <ActivatorContent>
        <div
            class="flex flex-nowrap items-center [&_.range_[contenteditable]]:leading-[14px] [&_.range~.range_[contenteditable]]:rounded-l-none! [&_.range_[contenteditable]]:rounded-r-none! [&_.range:last-child_[contenteditable]]:rounded-r-md!"
            id="@Id">
            <div @onwheel="OnMinWheel"
                 @oncontextmenu="Clear"
                 class="range">
                <FormContentEditable Placeholder="@Resources["Filters_Min"]"
                                     DoubleValue="Min"
                                     DoubleValueChanged="UpdateMinValue"/>
            </div>
            <div @onwheel="OnMaxWheel"
                 @oncontextmenu="Clear"
                 class="range">
                <FormContentEditable Placeholder="@Resources["Filters_Max"]"
                                     DoubleValue="Max"
                                     DoubleValueChanged="UpdateMaxValue"/>
            </div>
        </div>
    </ActivatorContent>
    <ChildContent>
        <div class="flex flex-nowrap gap-1">
            <ButtonIcon OnClick="SetMin"
                        Svg="@UiIcons.FilterGreaterThan"/>
            <ButtonIcon OnClick="SetMax"
                        Svg="@UiIcons.FilterLessThan"/>
            <ButtonIcon OnClick="SetEquals"
                        Svg="@UiIcons.FilterEquals"/>
            <ButtonIcon OnClick="SetRange"
                        Svg="@UiIcons.FilterRange"/>
        </div>
    </ChildContent>
</Popover>

@inject IStringLocalizer<TradeResources> Resources
@inject IJSRuntime JsRuntime
@inject ISettingsService SettingsService

@code {

    [Parameter]
    public required INormalizableFilter Filter { get; set; }

    [Parameter]
    public double? Min { get; set; }

    [Parameter]
    public EventCallback<double?> MinChanged { get; set; }

    [Parameter]
    public double? Max { get; set; }

    [Parameter]
    public EventCallback<double?> MaxChanged { get; set; }

    private string Id { get; } = UiUtilities.GenerateId();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Prevent the wheel event from scrolling.
            var js = $@"
                document.getElementById('{Id}')?.addEventListener('wheel', function(e) {{
                    e.preventDefault();
                }}, {{ passive: false }});
            ";
            await JsRuntime.InvokeVoidAsync("eval", js);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task UpdateMinValue(double? value)
    {
        await MinChanged.InvokeAsync(value);
    }

    private async Task UpdateMaxValue(double? value)
    {
        await MaxChanged.InvokeAsync(value);
    }

    private async Task OnMinWheel(WheelEventArgs args)
    {
        var value = Min ?? 0;
        if (args.DeltaY < 0)
        {
            value += 1;
        }
        else
        {
            value -= 1;
        }

        await UpdateMinValue(value);
    }

    private async Task OnMaxWheel(WheelEventArgs args)
    {
        var value = Max ?? 0;
        if (args.DeltaY < 0)
        {
            value += 1;
        }
        else
        {
            value -= 1;
        }

        await UpdateMaxValue(value);
    }

    private async Task Clear()
    {
        await MinChanged.InvokeAsync(null);
        await MaxChanged.InvokeAsync(null);
    }

    private async Task SetMin()
    {
        var normalizeBy = await SettingsService.GetDouble(AutoSelectPreferences.DefaultNormalizeBySettingKey);
        await UpdateMinValue(Filter.NormalizeMinValue(normalizeBy));
        await UpdateMaxValue(null);
    }

    private async Task SetMax()
    {
        var normalizeBy = await SettingsService.GetDouble(AutoSelectPreferences.DefaultNormalizeBySettingKey);
        await UpdateMinValue(null);
        await UpdateMaxValue(Filter.NormalizeMaxValue(normalizeBy));
    }

    private async Task SetEquals()
    {
        await UpdateMinValue(Filter.NormalizeValue);
        await UpdateMaxValue(Filter.NormalizeValue);
    }

    private async Task SetRange()
    {
        var normalizeBy = await SettingsService.GetDouble(AutoSelectPreferences.DefaultNormalizeBySettingKey);
        await UpdateMinValue(Filter.NormalizeMinValue(normalizeBy));
        await UpdateMaxValue(Filter.NormalizeMaxValue(normalizeBy));
    }
}
