@using Sidekick.Apis.Poe.Trade.Trade.Items.Results
@using Sidekick.Common.Settings
@using Sidekick.Modules.Items.Localization
@using Sidekick.Modules.Items.Settings

<FilterWrapper>
    <div class="flex flex-nowrap items-center justify-center gap-2 cursor-pointer @LineContentType.Simple.GetColour()"
         @onclick="() => Expanded = !Expanded"
         @onclick:preventDefault="true">
        <Icon Size="UiIconSize.Small"
              Svg="@(Expanded ? UiIcons.ChevronUp : UiIcons.ChevronDown)"/>

        <ItemPropertyText Label="@Resources["Filters_Trade"]"
                          Value="@(Expanded ? "true" : "false")"
                          ContentType="LineContentType.Simple"
                          OnlyShowLabel="true"/>

        <Icon Size="UiIconSize.Small"
              Svg="@(Expanded ? UiIcons.ChevronUp : UiIcons.ChevronDown)"/>
    </div>
</FilterWrapper>

@if (Expanded)
{
    <PriceCheckStatusEditor/>
    <PriceCheckItemCurrencyEditor/>
    <FormFieldset Legend="@Resources["Bulk_Trade"]"
                  Dense="true">
        <PriceCheckBulkMinimumStockEditor/>
    </FormFieldset>

    <div class="flex justify-center mb-1">
        <ButtonPrimary Disabled="!AreSettingsModified"
                       OnClick="ClearFilters">@Resources["Clear_Filters"]</ButtonPrimary>
    </div>
}

@inject IStringLocalizer<TradeResources> Resources
@inject ISettingsService SettingsService
@implements IDisposable

@code {

    private bool Expanded { get; set; }

    private bool AreSettingsModified { get; set; }

    private string[] SettingKeysUsed { get; } =
    {
        SettingKeys.PriceCheckStatus,
        SettingKeys.PriceCheckCurrency,
        SettingKeys.PriceCheckCurrencyPoE2,
        SettingKeys.PriceCheckBulkMinimumStock
    };

    protected override async Task OnInitializedAsync()
    {
        AreSettingsModified = await SettingsService.IsSettingModified(SettingKeysUsed);

        SettingsService.OnSettingsChanged += OnSettingsChanged;

        await base.OnInitializedAsync();
    }

    private async void OnSettingsChanged(string[] keys)
    {
        if (!keys.Any(key => SettingKeysUsed.Contains(key)))
        {
            return;
        }

        AreSettingsModified = await SettingsService.IsSettingModified(SettingKeysUsed);
        await InvokeAsync(StateHasChanged);
    }

    private async void ClearFilters()
    {
        await SettingsService.DeleteSetting(SettingKeysUsed);

        StateHasChanged();
    }

    public void Dispose()
    {
        SettingsService.OnSettingsChanged -= OnSettingsChanged;
    }

}
