@page "/setup"
@layout StartupLayout
@inherits SidekickView

@if (!RequiresSetup)
{
    <SidekickLogo />

    <MudCard Class="my-1">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h5" Align="Align.Center">@Resources.Title</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudProgressLinear Color="Color.Primary"
                           Indeterminate="true" />
        </MudCardContent>
    </MudCard>

    <div class="d-flex justify-end">
        <MudButton OnClick="Exit"
               Variant="Variant.Text"
               Color="Color.Default">
            @Resources.Exit
        </MudButton>
    </div>
}
else
{
    <SidekickLogo />

    @if (NewLeagues)
    {
        <MudAlert Variant="Variant.Filled" Severity="Severity.Info" Class="mt-1 mb-3">@Resources.NewLeagues</MudAlert>
    }

    <MudForm @ref="Form" @bind-IsValid="@Success">
        <MudCard Class="mt-1">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">@SettingsResources.Language_Title</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <UILanguageSelect @bind-Value="ViewModel.Language_UI" />
                <GameLanguageSelect Value="@ViewModel.Language_Parser" ValueChanged="OnGameLanguageChange" />
            </MudCardContent>
        </MudCard>

        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">@SettingsResources.Character_Title</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <LeagueSelect @bind-Value="ViewModel.LeagueId" @ref="RefLeagueSelect" />
                <MudTextField Label="@SettingsResources.Character_Name"
                          Variant="Variant.Filled"
                          @bind-Value="ViewModel.Character_Name" />
            </MudCardContent>
        </MudCard>

        <div class="d-flex justify-end">
            <MudButton OnClick="Exit"
                   Variant="Variant.Text"
                   Color="Color.Default">
                @Resources.Exit
            </MudButton>
            <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   OnClick="() => Save()">
                @SettingsResources.Save
            </MudButton>
        </div>
    </MudForm>
}
