@page "/map/{itemText}"
@using System.Text.RegularExpressions
@using Sidekick.Apis.Poe
@using Sidekick.Common.Game
@using Sidekick.Common.Settings
@using Sidekick.Common.Exceptions
@using Sidekick.Common.Game.Items
@using Sidekick.Modules.Maps.Localization

@using Sidekick.Common.Extensions
@using Sidekick.Modules.Maps.Settings
@inherits Sidekick.Common.Ui.Views.SidekickView

<AppTitle Title="@Resources["Map Check"]"/>

<LayoutTwoColumn HasChildContent="@(Item == null || Item.Metadata.Game == GameType.PathOfExile)">
    <TopContent>
        <AppBar>
            <AppSettings Href="/settings/map">
                <SettingsContent/>
            </AppSettings>
            <AppClose/>
        </AppBar>
    </TopContent>
    <LeftContent>
        @if (Item == null)
        {
            <AppLoading/>
        }
        else
        {
            <ItemHeader Name="@Item.Header.Name"
                        Type="@Item.Header.Type"
                        Rarity="Item.Metadata.Rarity"
                        Influences="Item.Influences"/>

            <AppContainer>
                @if (DangerousMods.Any())
                {
                    <Heading1 Class="text-red-500 flex flex-nowrap items-center justify-center gap-2 mb-2">
                        <IconMedium Icon="@UiIcons.ThumbDown"/>
                        @Resources["Unsafe"]
                    </Heading1>
                }
                else
                {
                    <Heading1 Class="text-green-500 flex flex-nowrap items-center justify-center gap-2 mb-2">
                        <IconMedium Icon="@UiIcons.ThumbUp"/>
                        @Resources["Safe"]
                    </Heading1>
                }

                <ItemSeparator Rarity="Item.Metadata.Rarity"/>

                @foreach (var mod in DangerousMods)
                {
                    <div
                        class="flex items-center flex-nowrap p-1 -mx-1 duration-200 transition-colors bg-transparent hover:bg-stone-800 rounded">
                        <div class="text-red-500">
                            <IconMedium Icon="@UiIcons.ThumbDown"/>
                        </div>
                        <ItemModifierText Class="ml-2 text-center grow">@mod</ItemModifierText>
                    </div>
                }

                @if (DangerousMods.Any() && OkMods.Any())
                {
                    <ItemSeparator Rarity="Item.Metadata.Rarity"/>
                }

                @foreach (var mod in OkMods)
                {
                    <div
                        class="flex items-center flex-nowrap p-1 -mx-1 duration-200 transition-colors bg-transparent hover:bg-stone-800 rounded">
                        <div class="text-green-500">
                            <IconMedium Icon="@UiIcons.ThumbUp"/>
                        </div>
                        <ItemModifierText Class="ml-2 text-center grow">@mod</ItemModifierText>
                    </div>
                }
            </AppContainer>
        }
    </LeftContent>
    <ChildContent>
        @if (Item == null)
        {
            <AppLoading/>
        }
        else if (Item.Metadata.Game == GameType.PathOfExile)
        {
            <PoeWikiMapInfo Type="@Item.Invariant?.Type" Name="@Item.Invariant?.Name"/>
        }
    </ChildContent>
</LayoutTwoColumn>


@inject IStringLocalizer<MapInfoResources> Resources
@inject IItemParser ItemParser
@inject ISettingsService SettingsService
@implements IDisposable

@code {

    [Parameter]
    public required string ItemText { get; set; }

    private List<string> DangerousMods { get; } =
    [
    ];

    private List<string> OkMods { get; } =
    [
    ];

    private Item? Item { get; set; }

    public override bool CloseOnBlur { get; set; }

    public override SidekickViewType ViewType => SidekickViewType.Overlay;

    public override int ViewWidth => 620;

    protected override void OnInitialized()
    {
        SettingsService.OnSettingsChanged += SettingsServiceOnOnSettingsChanged;
        base.OnInitialized();
    }

    private void SettingsServiceOnOnSettingsChanged()
    {
        _ = InvokeAsync(async () =>
        {
            await UpdateOverlay();
            StateHasChanged();
        });
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        await UpdateOverlay();
    }

    private async Task UpdateOverlay()
    {
        if (string.IsNullOrEmpty(ItemText))
        {
            return;
        }

        CloseOnBlur = await SettingsService.GetBool(SettingKeys.MapCheckCloseWithMouse);
        Item = await ItemParser.ParseItemAsync(ItemText.DecodeBase64Url() ?? string.Empty);

        if (Item.Metadata.Category != Category.Map && Item.Metadata.Category != Category.Contract && Item.Metadata.Category != Category.Logbook)
        {
            throw new InvalidItemException();
        }

        DangerousMods.Clear();
        OkMods.Clear();

        var dangerousRegex = await SettingsService.GetString(SettingKeys.MapCheckDangerousRegex);
        if (!string.IsNullOrEmpty(dangerousRegex))
        {
            var dangerousModsRegex = new Regex(dangerousRegex, RegexOptions.IgnoreCase);
            FilterMods(dangerousModsRegex, Item.ModifierLines);
        }
        else
        {
            FilterMods(null, Item.ModifierLines);
        }
    }

    private void FilterMods(Regex? modRegex, List<ModifierLine> modifierLines)
    {
        if (modRegex == null)
        {
            OkMods.AddRange(modifierLines.Select(x => x.Text));
            return;
        }

        foreach (var mod in modifierLines)
        {
            if (modRegex.IsMatch(mod.Text))
            {
                DangerousMods.Add(mod.Text);
            }
            else
            {
                OkMods.Add(mod.Text);
            }
        }
    }

    public void Dispose()
    {
        SettingsService.OnSettingsChanged -= SettingsServiceOnOnSettingsChanged;
    }

}
