
<div>
    <MudTable Height="330px" Items="@StashItems" Dense="true" Hover="true" SortLabel="Sort By" Filter="new Func<Models.Item,bool>(Search)" Breakpoint="Breakpoint.Sm" Width="650px">
        <ToolBarContent>
            <MudText Typo="Typo.h3">Inventory</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="SearchString" DebounceInterval="500" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-n4" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Models.Item, object>(x=>x.Name)">Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Models.Item, object>(x=>x.Count)">Count</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Models.Item, object>(x=>x.Price)">Price</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortBy="new Func<Models.Item, object>(x=>x.Total)">Total</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel=""><MudImage Width="30" Height="30" Src="@context.Icon" Class="rounded-lg" /></MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Count">@context.Count</MudTd>
            <MudTd DataLabel="Price">@Math.Round(context.Price, 2)</MudTd>
            <MudTd DataLabel="Total">@Math.Round(context.Total, 2)</MudTd>
        </RowTemplate>
    </MudTable>
</div>

@inject WealthParser WealthParser
@inject DbContextOptions<WealthDbContext> DbContextOptions
@implements IDisposable
@code {
    static List<Models.Item> StashItems = new List<Models.Item>();
    private string SearchString = "";

    protected override async Task OnInitializedAsync()
    {
        WealthParser.OnStashParsed += OnStashParsed;
        await RetrieveStashItems();
        await base.OnInitializedAsync();
    }

    public void OnStashParsed(StashTabDetails stash)
    {
        _ = InvokeAsync(async () =>
        {
            await RetrieveStashItems();
            StateHasChanged();
        });
    }

    public async Task RetrieveStashItems()
    {
        using var database = new WealthDbContext(DbContextOptions);
        StashItems = await database.Items
            .GroupBy(x => x.Name)
            .Select(x => x.First())
            .ToListAsync();
    }

    private bool Search(Models.Item element)
    {
        if (string.IsNullOrWhiteSpace(SearchString))
        {
            return true;
        }

        return element.Name.Contains(SearchString, StringComparison.OrdinalIgnoreCase);
    }

    public void Dispose()
    {
        WealthParser.OnStashParsed -= OnStashParsed;
    }
}
