<div class="pl-4">
    @if (WealthParser.Logs.Any())
    {
        <MudPaper Outlined="true" Class="d-flex flex-column" Style="@($"max-height:{WealthView.InventoryHeight}; background-color:transparent;")">
            <MudText Typo="Typo.h3" Class="py-2 px-4">Logs</MudText>
            <div class="flex-grow-1" style="overflow-y: scroll;">
                @for (var index = WealthParser.Logs.Count - 1; index >= 0 && index > WealthParser.Logs.Count - 100; index--)
                {
                    var log = WealthParser.Logs.ElementAt(index);
                    <div class="d-flex align-center flex-nowrap px-2 my-2" @key="@log.Id">
                        <MudIcon Icon="@log.Icon" Color="@log.Color"></MudIcon>
                        <div class="pl-2">
                            <MudText Typo="Typo.caption">@log.Date.ToString("hh:mm:ss")</MudText>
                            <br />
                            @log.Message
                        </div>
                    </div>
                }
            </div>
        </MudPaper>
    }
</div>

@inject WealthParser WealthParser
@implements IDisposable
@code {
    protected override void OnInitialized()
    {
        WealthParser.OnLogsChanged += OnLogEvent;
        base.OnInitialized();
    }

    private void OnLogEvent()
    {
        _ = InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        WealthParser.OnLogsChanged -= OnLogEvent;
    }
}
