@page "/initialize"
@layout StartupLayout
@using Sidekick.Core.Settings
@inherits SidekickView

<SidekickLogo />

@if (Error)
{
    <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Class="my-1">@Resources.Error</MudAlert>
}
else
{
    <MudCard Class="my-1">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h5" Align="Align.Center">@Step</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            @if (Count != Completed)
            {
                <MudProgressLinear Color="Color.Primary"
                           Value="Percentage"
                           Min="0"
                           Max="100" />
            }
            else
            {
                <MudText Typo="Typo.body1" Align="Align.Center">
                    @string.Format(Resources.Notification, Settings.Trade_Key_Check.ToKeybindString(), Settings.Key_Close.ToKeybindString())
                </MudText>
            }
        </MudCardContent>
    </MudCard>
}

@if (Count != Completed)
{
    <div class="d-flex justify-end">
        <MudButton OnClick="Exit"
               Variant="Variant.Text"
               Color="Color.Default">
            @Resources.Exit
        </MudButton>
    </div>
}
else
{
    <div class="d-flex justify-end">
        <MudButton OnClick="Close"
               Variant="Variant.Text"
               Color="Color.Default">
            @Resources.Close
        </MudButton>
    </div>
}
