@using Sidekick.Apis.Poe.Items
@using Sidekick.Apis.Poe.Trade.Trade.Filters.AutoSelect
@using Sidekick.Apis.Poe.Trade.Trade.Filters.Types
@using Sidekick.Common.Settings
@using Sidekick.Common.Ui.Localization
@using Sidekick.Common.Ui.Modal
@using Sidekick.Common.Ui.Tabs
@using Sidekick.Modules.Items.Trade.Localization

@if (string.IsNullOrEmpty(Filter.AutoSelectSettingKey) || AutoSelect == null)
{
    return;
}

<Modal>
    <ActivatorContent>
        <ButtonIcon Class="invisible group-hover:visible text-neutral-500"
                    Svg="@UiIcons.Settings"/>
    </ActivatorContent>
    <HeaderContent>
        <Heading2>@Resources["Filter_Settings"]</Heading2>
    </HeaderContent>
    <ChildContent>
        <TextBase>@Resources["AutoSelect_Description", Filter.Text]</TextBase>

        <TabList Class="mt-2">
            @ButtonContent(AutoSelectMode.Default, Resources["AutoSelect_Default"])
            @if (Filter is TriStatePropertyFilter)
            {
                @ButtonContent(AutoSelectMode.Any, Resources["AutoSelect_Any"])
            }
            @ButtonContent(AutoSelectMode.Always, Resources["AutoSelect_Always"])
            @ButtonContent(AutoSelectMode.Never, Resources["AutoSelect_Never"])
            @ButtonContent(AutoSelectMode.Conditionally, Resources["AutoSelect_Conditionally"])
        </TabList>

        @if (AutoSelect.Mode == AutoSelectMode.Always)
        {
            <TextBase>@Resources["AutoSelect_Always_Description", Filter.Text]</TextBase>
        }
        else if (AutoSelect.Mode == AutoSelectMode.Never)
        {
            <TextBase>@Resources["AutoSelect_Never_Description", Filter.Text]</TextBase>
        }
        else if (AutoSelect.Mode == AutoSelectMode.Any)
        {
            <TextBase>@Resources["AutoSelect_Any_Description", Filter.Text]</TextBase>
        }
        else if (AutoSelect.Mode == AutoSelectMode.Conditionally)
        {
            <TextBase Class="mb-2">@Resources["AutoSelect_Rules_Description", Filter.Text]</TextBase>
            <div class="flex flex-col gap-2 mb-2">
                @for (var ruleIndex = 0; ruleIndex < AutoSelect.Rules.Count; ruleIndex++)
                {
                    var rule = AutoSelect.Rules[ruleIndex];
                    <div class="bg-stone-800 rounded-md"
                         @key="@rule.Id">
                        <div class="pl-2 py-1 pr-1 flex flex-nowrap gap-2 border-b-2 border-stone-700">
                            <div
                                class="font-bold text-lg text-neutral-400 grow">@Resources["AutoSelect_Rule"] #@(ruleIndex + 1)</div>
                            @if (Mode == AutoSelectMode.Conditionally)
                            {
                                @if (ruleIndex > 0 && AutoSelect.Rules.Count > 0)
                                {
                                    <ButtonIcon Svg="@UiIcons.ChevronUp"
                                                OnClick="() => MoveUp(rule)"/>
                                }

                                @if (ruleIndex < AutoSelect.Rules.Count - 1)
                                {
                                    <ButtonIcon Svg="@UiIcons.ChevronDown"
                                                OnClick="() => MoveDown(rule)"/>
                                }

                                <Tooltip Text="@Resources["AutoSelect_RemoveRule"]">
                                    <ButtonIcon Class="text-red-500! hover:text-red-300!"
                                                Svg="@UiIcons.Close"
                                                OnClick="() => RemoveRule(rule)"/>
                                </Tooltip>
                            }
                        </div>

                        @for (var conditionIndex = 0; conditionIndex < rule.Conditions.Count; conditionIndex++)
                        {
                            var condition = rule.Conditions[conditionIndex];
                            <FilterAutoSelectCondition @key="@condition.Id"
                                                       First="conditionIndex == 0"
                                                       Condition="condition"
                                                       Readonly="Mode == AutoSelectMode.Default"
                                                       OnChanged="Save"
                                                       OnRemoved="() => RemoveCondition(rule, condition)"
                                                       CanBeDeleted="rule.Conditions.Count > 1"/>
                        }

                        <div class="grid grid-cols-5 gap-2 items-center py-1 px-2 border-t border-stone-700 leading-4">
                            <span class="text-neutral-500">@Resources["AutoSelect_Then"]</span>
                            <div class="col-span-2 text-white">
                                <FilterAutoSelectRuleResult Rule="rule"
                                                            Readonly="Mode == AutoSelectMode.Default"
                                                            Filter="Filter"
                                                            OnChanged="Save"/>
                            </div>
                            @if (Mode == AutoSelectMode.Conditionally)
                            {
                                <div class="col-span-2 flex justify-end">
                                    <ButtonSecondary OnClick="() => AddCondition(rule)"
                                                     Class="p-0!">@Resources["AutoSelect_AddCondition"]</ButtonSecondary>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>

            @if (Mode == AutoSelectMode.Conditionally)
            {
                <ButtonSecondary OnClick="AddRule" Class="p-0!">@Resources["AutoSelect_AddRule"]</ButtonSecondary>
            }
        }
    </ChildContent>
    <FooterContent>
        <div class="flex justify-end gap-2">
            <ButtonPrimary OnClick="context.Hide">@UiResources["Close"]</ButtonPrimary>
        </div>
    </FooterContent>
</Modal>

@inject IStringLocalizer<TradeResources> Resources
@inject IStringLocalizer<UiResources> UiResources
@inject ISettingsService SettingsService

@code {

    [CascadingParameter]
    public required Item Item { get; set; }

    [Parameter]
    public required TradeFilter Filter { get; set; }

    private AutoSelectPreferences? AutoSelect
    {
        get
        {
            if (Filter.AutoSelect?.Mode == AutoSelectMode.Default)
            {
                return Filter.DefaultAutoSelect;
            }

            return Filter.AutoSelect ?? Filter.DefaultAutoSelect;
        }
    }

    private AutoSelectMode Mode => Filter.AutoSelect?.Mode ?? AutoSelectMode.Default;

    private RenderFragment ButtonContent(AutoSelectMode mode, string label) =>
        @<TabItem OnClick="() => UpdateMode(mode)"
                  Active="mode == Mode"
                  Text="@label"/>;

    private async Task UpdateMode(AutoSelectMode mode)
    {
        if (Filter.AutoSelect == null)
        {
            Filter.AutoSelect = new AutoSelectPreferences()
            {
                Mode = mode,
            };
        }
        else
        {
            Filter.AutoSelect.Mode = mode;
        }

        await Save();
        StateHasChanged();
    }

    private async Task AddRule()
    {
        var rule = new AutoSelectRule()
        {
            Checked = true,
        };
        AutoSelect?.Rules.Add(rule);
        await AddCondition(rule);
    }

    private async Task AddCondition(AutoSelectRule rule)
    {
        rule.Conditions.Add(new AutoSelectCondition());
        await Save();
        StateHasChanged();
    }

    private async Task RemoveRule(AutoSelectRule rule)
    {
        AutoSelect?.Rules.Remove(rule);
        await Save();
        StateHasChanged();
    }

    private async Task RemoveCondition(AutoSelectRule rule, AutoSelectCondition condition)
    {
        rule.Conditions.Remove(condition);
        await Save();
        StateHasChanged();
    }

    private async Task MoveUp(AutoSelectRule rule)
    {
        if (AutoSelect == null) return;

        var index = AutoSelect.Rules.IndexOf(rule);
        AutoSelect.Rules.Remove(rule);

        AutoSelect.Rules.Insert(index - 1, rule);
        await Save();
        StateHasChanged();
    }

    private async Task MoveDown(AutoSelectRule rule)
    {
        if (AutoSelect == null) return;

        var index = AutoSelect.Rules.IndexOf(rule);
        AutoSelect.Rules.Remove(rule);

        AutoSelect.Rules.Insert(index + 1, rule);
        await Save();
        StateHasChanged();
    }

    private async Task Save()
    {
        if (string.IsNullOrEmpty(Filter.AutoSelectSettingKey)) return;

        await SettingsService.Set(Filter.AutoSelectSettingKey, Filter.AutoSelect);
    }

}
