@using Sidekick.Apis.Poe.Trade.Trade.Filters.Types

<FilterWrapper Filter="@Filter">
    <div class="grow">
        <FormCheckbox @bind-Value="Filter.Checked">
            <ItemPropertyText Label="@Filter.Text"
                              Hint="@Filter.Hint"
                              Value="@(Filter.Checked ? "true" : "false")"
                              ContentType="@Filter.Type"
                              OnlyShowLabel="true"/>
        </FormCheckbox>
    </div>
</FilterWrapper>

@code {

    [Parameter]
    public required TradeFilter Filter { get; set; }

}
