@using Sidekick.Apis.Poe.Items
@using Sidekick.Apis.Poe.Languages
@using Sidekick.Apis.Poe.Trade.Trade.Filters.Types

<FilterWrapper Filter="@Filter">
    <div class="grow">
        <FormCheckbox Value="Filter.Checked"
                      ValueChanged="CheckedChanged">
            <ItemPropertyText Label="@Filter.Text"
                              Hint="@Filter.Hint"
                              Value="@($"{Filter.ValuePrefix}{Filter.Value}{Filter.ValueSuffix}")"
                              ContentType="@Filter.Type"
                              HasAdditionalInformation="Filter.Value != Filter.OriginalValue && Filter.OriginalValue > 0">
                <AdditionalInformation>
                    <ItemPropertyText
                        Label="@($"{CurrentGameLanguage.Language.DescriptionQuality} {Item.Properties.Quality}%")"
                        Value="@($"{Filter.ValuePrefix}{Filter.OriginalValue}{Filter.ValueSuffix}")"/>
                    <ItemPropertyText Label="@($"{CurrentGameLanguage.Language.DescriptionQuality} 20%")"
                                      Value="@($"{Filter.ValuePrefix}{Filter.Value}{Filter.ValueSuffix}")"/>
                </AdditionalInformation>
            </ItemPropertyText>
        </FormCheckbox>
    </div>

    @if (Filter.Checked)
    {
        <FilterRange Filter="Filter"
                     Min="@Filter.Min"
                     MinChanged="MinChanged"
                     Max="@Filter.Max"
                     MaxChanged="MaxChanged"/>
    }
</FilterWrapper>

@inject ICurrentGameLanguage CurrentGameLanguage

@code {

    [CascadingParameter]
    public required Item Item { get; set; }

    [Parameter]
    public required IntPropertyFilter Filter { get; set; }

    private void CheckedChanged(bool value)
    {
        Filter.Checked = value;
    }

    private void MinChanged(double? value)
    {
        Filter.Min = value != null ? (int)value : null;
    }

    private void MaxChanged(double? value)
    {
        Filter.Max = value != null ? (int)value : null;
    }

}
