@using Sidekick.Apis.Poe.Trade.Trade.Filters.Types

<FilterWrapper Filter="@Filter">
    <div class="grow">
        <FormCheckbox @bind-Value="Filter.Checked">
            <div class="flex items-center gap-1">
                <ItemPropertyText Label="@Filter.Text"
                                  Hint="@Filter.Hint"
                                  Value="@Filter.Value"
                                  ContentType="@Filter.Type"/>
            </div>
        </FormCheckbox>
    </div>
</FilterWrapper>

@code {

    [Parameter]
    public required StringPropertyFilter Filter { get; set; }

}
