@page "/settings/chat"
@layout SettingsLayout
@inherits SidekickView

<div class="pa-3">
    <MudText Typo="Typo.h1" Class="mb-3">@Resources.Chat_Commands</MudText>

    <MudText Typo="Typo.h5">@Resources.Chat_Common_Commands</MudText>
    <MudText>@Resources.Chat_Commands_Hideout</MudText>
    <MudText>@Resources.Chat_Commands_Leave</MudText>
    <MudText>@Resources.Chat_Commands_Exit</MudText>

    <MudText Typo="Typo.h5" Class="mt-3">@Resources.Chat_Wildcard</MudText>
    <MudText>@Resources.Chat_Wildcard_LastWhisper_CharacterName</MudText>

    <MudPaper Class="mt-3">
        <ChatCommandEditor/>
    </MudPaper>
</div>

@inject SettingsResources Resources

@code {

    public override string Title => Resources.Title;

    public override bool ShowSettingsButton => false;

}
