@using Microsoft.Extensions.Localization
@using Sidekick.Common.Blazor.Settings
@using Sidekick.Common.Settings
@using Sidekick.Common.Blazor.Settings.Components
@using Sidekick.Common.Ui.Forms
@using Sidekick.Common.Ui.Buttons
@using Sidekick.Modules.Chat.Localization

@foreach (var chatSetting in ChatSettings)
{
    <div class="border border-solid dark:border-stone-800 p-3 mb-3">
        <div class="grid grid-cols-12 gap-2 mb-3">
            <div class="col-span-6">
                <FormInput Label="@Resources["Chat_Command"]" Value="@chatSetting.Command"
                    ValueChanged="(v) => CommandChanged(chatSetting, v)" />
            </div>
            <div class="col-span-6">
                <KeybindEditor Value="@chatSetting.Key" ValueChanged="(v) => KeyChanged(chatSetting, v)"
                    Label="@SettingResources["Keybind"]" />
            </div>
        </div>

        <div class="flex items-center justify-between">
            <FormCheckbox Value="chatSetting.Submit" ValueChanged="() => ToggleSubmit(chatSetting)">
                @Resources["Chat_Submit_The_Command"]
            </FormCheckbox>
            <ButtonPrimary OnClick="() => Remove(chatSetting)">
                @Resources["Chat_Commands_Remove"]
            </ButtonPrimary>
        </div>
    </div>
}

<FormFieldset>
    <div class="flex justify-between">
        <ButtonPrimary OnClick="Add">
            @Resources["Chat_Add_New_Command"]
        </ButtonPrimary>
    </div>
</FormFieldset>

@inject IStringLocalizer<SettingsResources> SettingResources
@inject IStringLocalizer<ChatResources> Resources
@inject ISettingsService SettingsService
@implements IDisposable

@code {

    private List<ChatSetting> ChatSettings { get; set; } = [];
    protected override async Task OnInitializedAsync()
    {
        ChatSettings = await SettingsService.GetObject<List<ChatSetting>>(SettingKeys.ChatCommands) ?? [];
        SettingsService.OnSettingsChanged += OnSettingsChanged;

        await base.OnInitializedAsync();
    }

    private async Task Remove(ChatSetting chatSetting)
    {
        ChatSettings.Remove(chatSetting);
        await Save();
    }

    private async Task Add()
    {
        ChatSettings.Add(new ChatSetting("", "", true));
        await Save();
    }

    private async Task KeyChanged(ChatSetting chatSetting, string? key)
    {
        chatSetting.Key = key;
        await Save();
    }

    private async Task CommandChanged(ChatSetting chatSetting, string? command)
    {
        chatSetting.Command = command;
        await Save();
    }

    private async Task ToggleSubmit(ChatSetting chatSetting)
    {
        chatSetting.Submit = !chatSetting.Submit;
        await Save();
    }

    protected async Task Save()
    {
        await SettingsService.Set(SettingKeys.ChatCommands, ChatSettings);
    }

    private async void OnSettingsChanged(string[] keys)
    {
        if (!keys.Contains(SettingKeys.ChatCommands)) return;

        ChatSettings = await SettingsService.GetObject<List<ChatSetting>>(SettingKeys.ChatCommands) ?? [];
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        SettingsService.OnSettingsChanged -= OnSettingsChanged;
    }

}
