@using Sidekick.Apis.Poe.Items
@using Sidekick.Apis.Poe.Trade.Parser.Modifiers
@using Sidekick.Modules.Trade.Localization

<FilterWrapper>
    <div class="flex flex-nowrap items-center">
        <div class="grow">
            <FormCheckbox Value="Filter.Checked ?? false"
                          ValueChanged="CheckedChanged">
                <ItemModifierText Class="text-left"
                                  Category="Filter.Line.ApiInformation.FirstOrDefault()?.Category">@Filter.Line.Text</ItemModifierText>
            </FormCheckbox>
        </div>

        <OilAnointment Filter="Filter"/>

        <div class="flex flex-col items-end justify-between gap-[2px] -mr-1">
            @if (Filter is
                     {
                         Checked: true,
                         SecondaryCategory: not ModifierCategory.Undefined
                     })
            {
                <Tooltip Text="@Resources["ForceCategoryHint"]" Placement="TooltipPlacement.Right">
                    <ItemModifierCategoryChip Category="Filter.PrimaryCategory"
                                              Checked="Filter.UsePrimaryCategory"
                                              ShowCheckbox="true"
                                              OnClick="() => Filter.UsePrimaryCategory = !Filter.UsePrimaryCategory"/>
                </Tooltip>
            }

            @if (Filter is
                     {
                         Checked: true,
                         Line:
                         {
                             HasValues: true
                         }
                     })
            {
                <FilterRange Checked="Filter.Checked == true"
                             NormalizeEnabled="true"
                             NormalizeRoundToInteger="true"
                             Value="@Filter.Line.AverageValue"
                             @bind-Min="@Filter.Min"
                             @bind-Max="@Filter.Max"/>
            }
        </div>
    </div>
</FilterWrapper>

@inject IStringLocalizer<TradeResources> Resources

@code {

    [Parameter]
    public required ModifierFilter Filter { get; set; }

    private void CheckedChanged(bool value)
    {
        Filter.Checked = value;
    }

}
