@using Velopack
@using Sidekick.Modules.Updater.Localization

<LayoutSimple>
    <TopContent>
        <AppLogo/>
    </TopContent>

    <ChildContent>
        <AppContainer>
            <Heading1 Class="mb-4 text-center">@Resources["New_Update_Alert"]</Heading1>
            @if (UpdateInfo.DeltasToTarget.Any(x => !string.IsNullOrEmpty(x.NotesHTML)))
            {
                <div class="text-left">
                    @foreach (var delta in UpdateInfo.DeltasToTarget)
                    {
                        @GetNotes(delta)
                    }
                </div>
            }
            else if (!string.IsNullOrEmpty(UpdateInfo.TargetFullRelease.NotesHTML))
            {
                <div class="text-left">
                    @GetNotes(UpdateInfo.TargetFullRelease)
                </div>
            }
            else
            {
                <div class="mb-3 text-center">
                    @Resources["NoChangelog"]
                </div>
            }
        </AppContainer>
    </ChildContent>

    <BottomContent>
        <div class="px-3 py-2 flex justify-center gap-2">
            <ExitButton/>
            <OpenWebsiteButton/>
            <SkipButton/>
            <ButtonPrimary OnClick="OnDownload">@Resources["Update"]</ButtonPrimary>
        </div>
    </BottomContent>
</LayoutSimple>

<ViewOptions Width="600" Height="500"/>

@inject IStringLocalizer<UpdateResources> Resources

@code {

    [Parameter]
    public required UpdateInfo UpdateInfo { get; set; }

    [Parameter]
    public EventCallback OnDownload { get; set; }

    private RenderFragment GetNotes(VelopackAsset asset)
    {
        return @<FormFieldset Legend="@($"Version {asset.Version}")">
                   <div class="[&_h1:first-of-type]:hidden
                                [&_h1:last-of-type]:mt-3 [&_h1:last-of-type]:text-gray-400
                                [&_h2]:text-lg [&_h2]:mb-2 [&_h2]:text-violet-500
                                [&_h3]:text-base [&_h3]:mb-1
                                [&_h4]:text-lg
                                [&_h5]:text-lg
                                [&_h6]:text-lg
                                [&_ul]:list-disc [&_ul]:ml-2 [&_ul]:pl-4 marker:text-zinc-300
                                [&_li]:my-1">
                       @((MarkupString)asset.NotesHTML)
                   </div>
               </FormFieldset>;
    }

}
